<div id="page-commander">
    <div class="row">
        <div class="col-md-8 bloc-1">
            <div class="informations">
                <div class="big-title row">
                    <div class="border-number col-2">1</div>
                    <div class="check-success col-1"><i class="fa-solid fa-check iconCheck" id="checkTrue"></i></div>
                    <div class="title-h4 col-7">
                        <h4>INFORMATIONS PERSONNELLES</h4>
                    </div>
                    <div class="btn btn-modif col-2" id="info-mod-btn">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <span>Modfier</span>
                    </div>
                </div>
                <hr>

                <div class="content" id="info-content">
                    <% if (locals.user) { %>
                     <h2>Vous êtes déjà connecté </h2>
                     <a href="/mon-compte/logout">déconnexion</a>
                     <div class="button">
                        <button class="btn_info_client_connected">Continuer</button>
                    </div>
                    <% } else { %>
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" id="myTab" role="tablist row">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-tab-one active button-add" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                                        <span id="creer-compte">Creez votre compte</span>  <span> | </span>
                                </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link btn-tab-two" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                                        <span>Connexion</span>
                                </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active content-one" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                                    <div class="register-form">
                                        <form method="post" action="/commander/user-subscribe">
                                            <div>
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label for="" class="label">Civilité</label>
                                                    </div>
                                                    <div class="col-md-6 radios">
                                                        <div class="radio">
                                                            <input type="radio" name="tit_id" id="homme" value="M" />
                                                            <label class="" for="homme ">M</label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" name="tit_id" id="femme" value="Mme" />
                                                            <label class="" for="femme ">Mme</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="prenom"><span>*</span>Prenom</label>
                                                    </div>
                                                    <div class="col-md-6 input">
                                                        <input type="text" name="cli_prenom" id="prenom" required />
                                                        <label for=" " id="label-text">Seules les lettres et le point (.), suivi d'un espace, sont
                                                            autorisés.</label>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="nom"><span>*</span>Nom</label>
                                                    </div>
                                                    <div class="col-md-6 input">
                                                        <input type="text" name="cli_nom" id="nom" required />
                                                        <label for="" id="label-text">Seules les lettres et le point (.), suivi d'un espace, sont
                                                            autorisés.</label>
                                                    </div>
                                                    <div></div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="email"><span>*</span>E-mail</label>
                                                    </div>
                                                    <div class="col-md-6 input">
                                                        <input type="text" name="cli_mail" id="email" required />
                                                        <label for="" id="label-text"></label>
                                                    </div>
                                                    <div></div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="password"><span>*</span>Mot de
                                                            passe</label>
                                                    </div>
                                                    <div class="col-md-6 btn-hide">
                                                        <input type="password" name="cli_pwd" id="password" class="input-password" required />
                                                        <button id="btn-action" type="button" class="btn-action">Montrer</button>
                                                    </div>
                                                    <div></div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required" for="nom"><span>*</span></label>
                                                    </div>
                                                    <div class="col-md-6 checkWithText">
                                                        <div class=""> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div>
                                                        <div class="">
                                                            <label id="label-text">Message concernant la confidentialité des
                                                                données clients
                                                                <br />
                                                                <em>Conformément aux dispositions de la loi du n°78-17 du 6
                                                                    janvier 1978, vous disposez d'un droit d'accès, de
                                                                    rectification et d'opposition sur les données nominatives vous
                                                                    concernant.</em>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required" for="nom"><span>*</span></label>
                                                    </div>
                                                    <div class="col-md-6 checkWithText">
                                                        <div class=""> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div>
                                                        <div class="">
                                                            <label id="label-text">Message concernant la confidentialité des
                                                                données clients
                                                                <br />
                                                                <em>Recevoir notre newsletter
                                                                    Vous pouvez vous désinscrire à tout moment. Vous trouverez pour cela nos informations de contact dans les conditions d'utilisation du site.
                                                                </em>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required" for="nom"><span>*</span></label>
                                                    </div>
                                                    <div class="col-md-6 checkWithText">
                                                        <div class=""> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></div>
                                                        <div class="">
                                                            <label id="label-text">Message concernant la confidentialité des
                                                                données clients
                                                                <br />
                                                                <em>J'accepte les conditions générales et la politique de confidentialité  </em>
                                                              
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button">
                                                <button type="submit">Continuer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade content-two" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                    <div class="register-form">
                                        <form method="post" action="/commander/user-login">
                                            <%if (typeof error !== 'undefined' && error == true) { %>
                                                <div class="alert alert-danger" role="alert">
                                                  <%= (errorMsg) ? errorMsg : '' %>
                                                </div>
                                              <% } %>
                                            <div>
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="email"><span>*</span>E-mail</label>
                                                    </div>
                                                    <div class="col-md-6 input">
                                                        <input type="email" name="cli_mail" id="prenom" required />
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <div class="col-md-3 item">
                                                        <label class="required label" for="password"><span>*</span>Mot de passe</label>
                                                    </div>
                                                    <div class="col-md-6 btn-hide">
                                                        <input type="password" name="cli_pwd" id="password" class="input-password" required />
                                                        <button id="btn-action" type="button" class="btn-action">Montrer</button>
                                                    </div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="forgot-password">
                                                <p>Mot de passe oublié ?</p>
                                            </div>
                                            <div class="btn-login">
                                                <button type="submit">Continuer</button>
                                            </div>
                                            <hr>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="adresses" id="adresse">
                <div class="big-title adresse-cursor row">
                    <div class="border-number adresse-bg col-2">2</div>
                    <div class="check-success check-adresse col-1"><i class="fa-solid fa-check iconCheck"></i></div>
                    <div class="title-h4 col-7">
                        <h4>ADRESSES</h4>
                    </div>
                    <div class="btn btn-modif col-2" id="adresse-mod-btn">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <span>Modfier</span>
                    </div>
                </div>
                <hr>
                <div class="adresse-content" id="divAdress">
                    <div class="text-contents">
                        <div class="text-1">
                            <p>Afin de valider votre demande, vous devez nous envoyer votre devis accompagné du cheque de caution ainsi que le contrat de prêt pour essayage (Qui vous sera envoyé apres vérification des disponibilités. En vous remerciant.)</p>
                        </div>
                        <div class="text-2"> L'adresse sélectionnée sera utilisée à la fois comme adresse personnelle (pour la facturation) et comme adresse de livraison.</div>
                    </div>
                    <% if (typeof adresses != "undefined") { %>
                        <div class="register-form">
                            <form action="" id='adresse-form'>
                                <div class="row">
                                    <% adresses.forEach((adresse,index) => { %>
                                        <div class="adresse-elmt">
                                            <div class="adresse-elmt-head">
                                                <div class="adresse-elmnt-head-radio">
                                                    <input type="radio" name="radio_adresse" id="radio_adresse<%= index %>">
                                                    <label for="radio_adresse<%= index %>">
                                                        <h3><%= adresse.adr_nom %></h3>
                                                        <div class="adresse-elmnt-body">
                                                            <p><%= adresse.adr_nom %> - <%= adresse.adr_prenom %></p>
                                                            <p><%= adresse.adr_societe %></p>
                                                            <p><%= adresse.adr_adresse %></p>
                                                            <p><%= adresse.adr_cp %> <%= adresse.adr_ville %></p>
                                                            <p><%= adresse.adr_ville %></p>
                                                            <p><%= adresse.adr_phone %></p>
                                                        </div>
                                                    </label>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                                <div class="button btn col-md-6">
                                    <button>Continuer</button>
                                </div>
                            </form>
                        </div>
                    <% } else { %>
                        <div class="register-form">
                            <form method="post" action="/commander/add-adresse">
                                <% if (typeof error  !== 'undefined') { %>
                                    <div class="alert alert-danger" role="alert">
                                      <%= error %>
                                    </div>
                                  <% } %>
                                  <% if (typeof success  !== 'undefined') { %>
                                    <div class="alert alert alert-success" role="alert">
                                      <%= success %>
                                    </div>
                                  <% } %>
                                <div class="form-parent">
                                    <div class="form-group row">
                                        <div class="col-md-3 "></div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label"><span>*</span>Nom de la structure</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_structure" required />
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="prenom"><span>*</span>Prenom</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text " name="adr_prenom" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Nom</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_nom" id="nom" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom">Société</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_societe" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom">Numero de TVA</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="number" name=" adr_num_tva" id="nom" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Adresse</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_adresse" required />
                                        </div>
                                    </div>
    
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom">Complement d'adresse</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_comp" required />
                                        </div>
                                    </div>
    
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Code postal</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="number" name="adr_cp" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Ville</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_ville" required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Pays</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_pays" id="nom" required />
                                        </div>
                                    </div>
    
    
                                    <div class="form-group row">
                                        <div class="col-md-3 item">
                                            <label class="required label" for="nom"><span>*</span>Téléphone</label>
                                        </div>
                                        <div class="col-md-6 input">
                                            <input type="text" name="adr_phone " required />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        </div>
                                        <div class="col-md-6 text-label">
                                            <label class="required label labelWithCheck" for="prenom" id="checkbox">Utiliser aussi cette adresse pour la facturation</label>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="button btn col-md-6">
                                    <button>Continuer</button>
                                </div>
                            </form>
                        </div>
                    <% } %>        
                 </div>
            </div>
            <div class="adresses livraisons" id="livraison">
                <div class="big-title livraison-cursor row">
                    <div class="border-number livraison-bg col-2">3</div>
                    <div class="check-success check-livraison col-1"><i class="fa-solid fa-check iconCheck" id="checkTrue"></i></div>
                    <div class="title-h4 col-7">
                        <h4>MODE DE LIVRAISON</h4>
                    </div>
                    <div class="btn btn-modif col-md-2" id="livraison-mod-btn">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <span>Modfier</span>
                    </div>
                </div>
                <hr>

                <div class="livraison-content" id="divLivraison">
                    <div class="text-contents">
                        <div class="text-1">
                            <p>Afin de valider votre demande, vous devez nous envoyer votre devis accompagné du cheque de caution ainsi que le contrat de prêt pour essayage (Qui vous sera envoyé apres vérification des disponibilités. En vous remerciant.)
                            </p>
                        </div>
                    </div>
                    <div class="devis">
                        <% mode_livraisons.forEach(mode_livraison => { %>
                            <div class="devis-1 row">
                                <div class="btn-checkbox  col-md-2">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                </div>
                                <div class="desc-img  col-md-2">image</div>
                                <div class="desc-retrait  col-md-2">
                                    <p><%= mode_livraison.frp_libelle %></p>
                                </div>
                                <div class="desc-essaie  col-md-4">
                                    <p><%= mode_livraison.frp_descrition %></p>
                                </div>
                                <div class="descprice col-md-2"><%= mode_livraison.frp_ttc %> € TTC</div>
                            </div>
                        <% }) %>
                        <div class="commande-msg">
                            <div class="mb-3 msg">
                                <label for="exampleFormControlTextarea1" class="form-label">Si vous voulez nous laisser un message à propos de votre commande, merci de de bien vouloir le renseigner dans le champs ci-contre</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="date-spectacle">
                            <div class="title">
                                <h3>DATE SPECTACLE</h3>
                                <hr>
                            </div>

                            <div class="form" id="livraison-form">
                                <form action="">
                                    <div class="row">
                                        <div class="row g-3 align-items-center bloc-input">
                                            <div class="col-md-4">
                                                <label for="inputPassword6" class="col-form-label">Date du debut de spectacle</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="date" id="date-debut" class="form-control" placeholder="Date du debut de spectacle">
                                            </div>
                                        </div>

                                        <div class="row g-3 align-items-center bloc-input">
                                            <div class="col-md-4">
                                                <label for="inputPassword6" class="col-form-label">Date de fin de spectacle</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="date" id="date-fin" class="form-control" placeholder="Date de fin de spectacle">
                                            </div>
                                        </div>

                                        <div class="row g-3 align-items-center bloc-input">
                                            <div class="col-md-4">
                                                <label for="inputPassword6" class="col-form-label">Date de répétition</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="date" id="date-rep" class="form-control" placeholder="Date de repetition">
                                            </div>
                                        </div>


                                        <div class="row g-3 align-items-center bloc-input">
                                            <div class="col-md-4">
                                                <label for="inputPassword6" class="col-form-label">Site d'autres dates</label>
                                            </div>
                                            <div class="col-md-4">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="row g-3 align-items-center bloc-input">
                                            <div class="col-md-4">
                                                <label for="inputPassword6" class="col-form-label">Complement d'infos ?</label>
                                            </div>
                                            <div class="col-md-4">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button btn col-md-6 btn-livraison">
                                        <button type="submit">Continuer</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="adresses finalisations" id="finalisation">
                <div class="big-title finalisation-cursor row">
                    <div class="border-number finalisation-bg col-2">4</div>
                    <div class="check-success col-1"><i class="fa-solid fa-check iconCheck" id="checkTrue"></i></div>
                    <div class="title-h4 col-7">
                        <h4>FINALISATION</h4>
                    </div>
                    <div class="btn btn-modif col-2" id="info-mod-btn">Modfier</div>
                </div>
                <hr>

                <div class="finalisation-contents" id="divFinalisation">
                    <div class="finalisation-content">
                        <form action="">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Confirmez votre devis
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                <label class="form-check-label" for="flexCheckDefault">
                                  J'ai lu les conditions générales de vente et j'y adheres sans reserve.
                                </label>
                            </div>

                            <div class="button col-md-6">
                                <button>Finaliser le devis</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 bloc-2">
            <div class="title-article">
                <span>1</span>
                <span>article</span>
            </div>

            <div onclick="toggle_visibility( 'divItems') " class="hidden-detail ">
                <span> afficher les details</span><span><i class="fa-solid fa-chevron-down"></i></span>
                <div class="details" id="divItems">
                    <div class="details-items">
                        <div class=" detail-item">
                            <div class="detail-img">
                                <img src=" " alt=" ">
                            </div>
                            <div class=" detail-content ">
                                <span>MH19C - Top croisé dos nu bleu royal</span>
                            </div>
                        </div>

                        <div class=" detail-item ">
                            <div class=" detail-img ">
                                <span>X</span>
                            </div>
                            <div class=" detail-content ">
                                <span>20,00$</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <hr>
            <div class=" detail-prices ">
                <div class=" prices ">
                    <div class=" sous-total ">Sous-total</div>
                    <div class=" price ">10, 00$</div>
                </div>
                <div class=" prices ">
                    <div class=" sous-total ">Livraison</div>
                    <div class=" price ">10, 00$</div>
                </div>
                <div class=" prices ">
                    <div class=" sous-total ">Frais de dossier</div>
                    <div class=" price ">10, 00$</div>
                </div>
            </div>
            <hr>

            <div class="total">
                <div class="sous-total">Total TTC</div>
                <div class="price">38, 00$</div>
            </div>

            <div class="codepromo-content">
                <div class="text-promo">
                    <p id="if-codepromo">Vous avez un code promo ?</p>
                </div>
                <div class="form-promo">
                    <div class="input-group mb-3 form-codepromo">
                        <input type="text" class="form-control" placeholder="Code promo" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append btn-add">
                            <span class="input-group-text btn" id="basic-addon2">Ajouter</span>
                        </div>
                    </div>
                    <div class="text">
                        <p id="close-form">Fermer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/commander.js"></script>