<div id="header-banner">
  <img src="/images/banner.jpg" alt="" srcset="" class="img-fluid barner-img" />
</div>
<div id="details-infos">
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>VOUS IMAGINEZ, NOUS CRÉONS</h6>
    <p>Création, réalisation et confection personalisée</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>VOUS CHERCHEZ, NOUS AVONS</h6>
    <p>18000 costumes - 1362 références tous styles de danses</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>VOTRE DEVIS EN LIGNE</h6>
    <p>Intéractif, rapide et accessible 24/24 h</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>ON S’OCCUPE DE TOUT</h6>
    <p>un seul interlocuteur, un seul contrat, une seule facture</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" alt="" />
    <h6>LA SOLUTION CLÉ EN MAIN</h6>
    <p>Fini les problèmes de lavage,stockage et entretien</p>
  </div>
</div>
<div id="pages-home">
  <div class="element-slider-suggestion">
    <div class="">
      <h2 class="font-weight-light text-center">NOS SUGGESTIONS !</h2>
      <!-- <div class="carousel js-product-carousel">
        <div class="carousel__view">
          <span class="carousel__control js-carousel-prev"
            ><i class="icon"><i class="fa-solid fa-chevron-left"></i></i
          ></span>
          <span href="#" class="carousel__control js-carousel-next"
            ><i class="icon"><i class="fa-solid fa-chevron-right"></i></i
          ></span>
          <ul class="product-list js-product-list">
            <% produits.forEach(produit => { %>
            <li class="product-list__item">
              <div data-slide="1" class="product">
                <div class="item-card-img">
                  <a href="/article/<%= produit.pro_id %>"
                    ><img
                      src="/images/produits/<%= produit.Media[0].med_ressource %>"
                      class="img-fluid suggestion-img"
                  /></a>
                </div>
                <div class="paragraph">
                  <p class="libelle"><%= produit.pro_libelle %></p>
                  <p><%= produit.pro_ref %></p>
                  <div class="quantite"><span>  <%= quantiteOfEachProduct?.find(element => element.id === produit.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty > 1 ? "articles" : "article" %></div>
                </div>
                <div class="price">
                  <p>
                      <strong><%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", ",") %> €</strong>
                  </p>
                  <span class="bar">|</span>
                  <span
                      class="btn-add button-ajouter"
                      data-id="<%= produit.pro_id %>"
                      data-bs-toggle="modal"
                      data-bs-target="#parent_modal"><strong>Ajouter</strong></span>
                 
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div> -->
      <div class="carousel js-product-carousel">
        <div class="swiper carousel__view">
          <ul class="swiper-wrapper product-list js-product-list ">
            <% produits.forEach(produit=> { %>
              <li class="swiper-slide product-list__item">
                <div data-slide="1" class="product">
                  <div class="item-card-img">
                    <a href="/article/<%= produit.pro_id %>"><img
                        src="/images/produits/<%= produit.Media[0].med_ressource %>"
                        class="img-fluid suggestion-img" /></a>
                  </div>
                  <div class="paragraph">
                    <p class="libelle">
                      <%= produit.pro_libelle %>
                    </p>
                    <p>
                      <%= produit.pro_ref %>
                    </p>
                    <div class="quantite"><span>
                        <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty ?
                          quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %>
                      </span>
                      <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty > 1 ? "articles" :
                        "article" %>
                    </div>
                  </div>
                  <div class="price">
                    <p class="d-flex gap-3">
                      <strong>
                        <% let newPriceht = 0 %>
                  <% let remise = 0 %>
                  <% let promotionProduct = [] %>
                  <% applies.forEach(element => { %>
                    <% if (element.pro_id == produit.pro_id) { %>
                      <del><%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>€</del>
                     <% promotionProduct = element %>
                     <% if (promotionProduct.Promo.prm_pourcent) { %> 
                      <% remise = promotionProduct.Promo.prm_pourcent * produit.Tarifs[0].tar_ht / 100 %>
                      <% newPriceht = produit.Tarifs[0].tar_ht - remise %>
                      <% } else { %> <% newPriceht = produit.Tarifs[0].tar_ht - promotionProduct.Promo.prm_valeur %> <% } %>
                      <% let tva = newPriceht * 20 /100 %>
                      <%= (newPriceht + tva).toFixed(2).toString().replace(".", "," ) %> €
                    <% } %> 
                  <% }) %>
                  <% if (!applies.find(element => element.pro_id == produit.pro_id)) { %>
                   <%=  (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>€ %>
                    <% } %>
                      </strong>
                    </p>
                    <span class="bar">|</span>
                    <span class="btn-add button-ajouter" data-id="<%= produit.pro_id %>" data-bs-toggle="modal"
                      data-bs-target="#parent_modal"><strong>Ajouter</strong></span>
                  </div>
                </div>
              </li>
              <% }) %>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-location">
    <div class="section-location-img"></div>
    <div class="section-location-text" id="qui-sommes-nous">
      <h1>LOCATION DE COSTUMES DE DANSE - AIGUILLES EN SCÈNE</h1>
      <div class="content">
        <p>
          Bienvenue sur le nouveau site internet d'Aiguilles en Scène, atelier
          spécialisé dans la location et la création de costumes de danse. Nous
          vous proposons un large choix de costumes de qualité pour vos
          spectacles de danse amateurs et professionnels.
        </p>
        <p>
          À travers plus de 18000 costumes disponible à la location, nos
          produits sont adaptés à tous les types de danse : danse classique,
          moderne, jazz, contemporaine, ect.
        </p>
        <p>
          Tous nos costumes et accessoires sont réalisés sur mesure et à la main
          par une équipe de professionnels, vous garantissant la qualité et
          l'authenticité de ces derniers, le tout à prix très accessible !
          Combinaisons académiques, jupes, pantalons, chapeaux, robes, tuniques,
          tutus... Il y en a pour tous les goûts et toutes les envies.
        </p>
        <p>
          Vous pouvez venir retirer votre commande en click & collect dans notre
          atelier situé à Rennes, un service de livraison clé en main est
          également disponible partout en France.
        </p>
        <p>
          Enfin, si vous ne trouvez pas le produit idéal, rendez-vous dans
          l'espace création, pour la réalisation d'un costume sur-mesure.
        </p>
        <h2>Location costumes & tenues de danse</h2>
        <p>
          Passionnés et toujours à l'écoute des nouvelles tendances du milieu de
          la danse, notre catalogue ne cesse de s'étoffer afin de satisfaire le
          plus grand nombre. Retrouvez plus de 1362 références et un grand choix
          de costumes adaptés à tous et à toutes.
        </p>
        <p>
          Amateur ou professionnel de la danse, retrouvez un grand choix de
          costumes adaptés à tous et à toutes.
        </p>
        <ul>
          <li>Costumes de danse pour enfants</li>
          <li>Costumes de danse adultes</li>
          <li>Costumes de danse grandes tailles</li>
        </ul>
        <p>
          Découvrez également notre sélection d'accessoires : masques, gants,
          chapeaux, bijoux... Et même de la décoration !
        </p>
        <h2>Création costumes de danse</h2>
        <p>
          Si vous ne trouvez pas votre bonheur, rendez-vous sur notre espace
          création. Une équipe est là pour vous écouter et vous conseiller. Une
          offre sur mesure peut vous être proposée à un prix très attractif.
        </p>
        <p>
          Une conseillère est à votre service afin d’obtenir un rendez-vous pour
          un entretien personnalisé permettant de définir ensemble votre projet
          de création de nouveaux costumes. Grâce à ce service sur mesure, un
          costume original peut être réalisé, moyennant un léger surcoût.
        </p>
        <p>
          Besoin de renseignements complémentaires ou d'un devis ?
          Contactez-nous au 0614289981 ou en passant par la page contact !
        </p>
        <p>Toute l'équipe vous remercie pour votre confiance.</p>
      </div>
      <div class="section-location-divider">
        <span></span>
      </div>
    </div>
  </div>
  <div class="section-cta container">
    <h1>NOTRE UNIVERS</h1>
    <section class="cta-items">
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">QUI SOMMES NOUS ?</h2>
          <a href="/#qui-sommes-nous" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-2.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">LA NOUVELLE COLLECTION</h2>
          <a href="/nouvelleCollection/#nouvelleCollection" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-3.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">CRÉATIONS</h2>
          <a href="/creation/#page-creation" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire4.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">ACCESSOIRES</h2>
          <a href="/catalogue/type/4" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-5.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">SUR YOUTUBE</h2>
          <a href="https://www.youtube.com/channel/UCYAveH1UzFJ-fMx0OFx7efg?app=desktop" target="_blank"
            class="cta-item-btn">Découvrir</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-6.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">PROMOTIONS</h2>
          <a href="/promotion/#page-promotion" class="cta-item-btn">Découvrir</a>
        </div>
      </div>
    </section>
  </div>
  <div class="section-nos-creations">
    <div class="text-content">
      <h1><span class="green">Nos</span> créations</h1>
      <div class="cta">
        <p>Confection de costumes !</p>
        <a href="/creation/#page-creation" class="btn">Découvrir</a>
      </div>
    </div>
  </div>
  <div class="section-newsletters">
    <div class="text">
      <p>
        Ne ratez plus le coche en recevant <br />la newsletter gratuitement par
        mail
      </p>
    </div>
    <form class="form" action="/newsletter" method="post">
      <div class="input">
        <input type="text" placeholder="Votre adresse e-mail" name="cli_mail"/>
        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
      </div>
      <% if (typeof flash != 'undefined') { %>
        <div class="alert alert-<%= flash.type %> alert-dismissible fade show mt-2" role="alert">
          <%= flash.message %>
          <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
    </form>
  </div>
  <div class="section-testimonials">
    <h1>LES TÉMOIGNAGES</h1>
    <div class="actions">
      <a href="#" class="btn">Tout voir</a>
      <a href="#" class="btn">Laisser un avis</a>
    </div>
  </div>
  <div class="section-contact container">
    <%if (typeof error !=='undefined' && error==true) { %>
      <div class="alert alert-danger mssg" role="alert">
        <%= (errorMsg) ? errorMsg : '' %>
      </div>
      <% } %>
        <%if (typeof error==null && error==false) { %>
          <div class="alert alert-success mssg" role="alert">
            <%= (messages) ? messages : '' %>
          </div>
          <% } %>

            <h1>NOUS CONTACTER</h1>
            <form method="post" action="/">
              <div class="mb-3">
                <input type="email" placeholder="votre e-mail" class="form-control" id="email" name="email"
                  aria-describedby="emailHelp" />
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Choisir un fichier</label>
                <input class="form-control" type="file" id="file" name="file" />
              </div>
              <div class="mb-3">
                <textarea class="form-control" placeholder="Comment pouvons-nous vous aider?" name="textarea"
                  id="textarea"></textarea>
              </div>
              <button class="btn">Envoyer</button>
            </form>
  </div>
</div>
<script src="/javascripts/suggestion_carousel.js"></script>
<script src="/javascripts/home.js"></script>