<div id="header-banner">
  <img src="/images/banner.jpg" alt="" srcset="" class="img-fluid barner-img" />
</div>
<div id="details-infos">
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>YOU IMAGINE, WE CREATE</h6>
    <p>Creation, production and personalized tailoring</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>YOU ARE LOOKING FOR, WE HAVE</h6>
    <p>
      18,000 works of art - 1,362 references for all museums</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>YOUR ONLINE QUOTE</h6>
    <p>Interactive, fast and accessible 24/7</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" class="img-fluid" alt="" />
    <h6>WE TAKE CARE OF EVERYTHING</h6>
    <p>a single contact, a single contract, a single invoice</p>
  </div>
  <div class="infos-content">
    <img src="/images/picto01.png" alt="" />
    <h6>THE TURNKEY SOLUTION</h6>
    <p>No more washing, storage and maintenance problems</p>
  </div>
</div>
<div id="pages-home">
  <div class="element-slider-suggestion">
    <div class="">
      <h2 class="font-weight-light text-center">OUR SUGGESTIONS !</h2>
      <!-- <div class="carousel js-product-carousel">
        <div class="carousel__view">
          <span class="carousel__control js-carousel-prev"
            ><i class="icon"><i class="fa-solid fa-chevron-left"></i></i
          ></span>
          <span href="#" class="carousel__control js-carousel-next"
            ><i class="icon"><i class="fa-solid fa-chevron-right"></i></i
          ></span>
          <ul class="product-list js-product-list">
            <% produits.forEach(produit => { %>
            <li class="product-list__item">
              <div data-slide="1" class="product">
                <div class="item-card-img">
                  <a href="/article/<%= produit.pro_id %>"
                    ><img
                      src="/images/produits/<%= produit.Media[0].med_ressource %>"
                      class="img-fluid suggestion-img"
                  /></a>
                </div>
                <div class="paragraph">
                  <p class="libelle"><%= produit.pro_libelle %></p>
                  <p><%= produit.pro_ref %></p>
                  <div class="quantite"><span>  <%= quantiteOfEachProduct?.find(element => element.id === produit.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty > 1 ? "articles" : "article" %></div>
                </div>
                <div class="price">
                  <p>
                      <strong><%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", ",") %>  $</strong>
                  </p>
                  <span class="bar">|</span>
                  <span
                      class="btn-add button-ajouter"
                      data-id="<%= produit.pro_id %>"
                      data-bs-toggle="modal"
                      data-bs-target="#parent_modal"><strong>Ajouter</strong></span>
                 
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div> -->
      <div class="carousel js-product-carousel">
        <div class="swiper carousel__view">
          <ul class="swiper-wrapper product-list js-product-list ">
            <% produits.forEach(produit=> { %>
              <li class="swiper-slide product-list__item">
                <div data-slide="1" class="product">
                  <div class="item-card-img">
                    <a href="/article/<%= produit.pro_id %>"><img
                        src="/images/produits/<%= produit.Media[0].med_ressource %>"
                        class="img-fluid suggestion-img" /></a>
                  </div>
                  <div class="paragraph">
                    <p class="libelle">
                      <%= produit.pro_libelle %>
                    </p>
                    <p>
                      <%= produit.pro_ref %>
                    </p>
                    <div class="quantite"><span>
                        <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty ?
                          quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %>
                      </span>
                      <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty > 1 ? "articles" :
                        "article" %>
                    </div>
                  </div>
                  <div class="price">
                    <p class="d-flex gap-3">
                      <strong>
                        <% let newPriceht=0 %>
                          <% let remise=0 %>
                            <% let promotionProduct=[] %>
                              <% applies.forEach(element=> { %>
                                <% if (element.pro_id==produit.pro_id) { %>
                                  <del>
                                    <%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %> €
                                  </del>
                                  <% promotionProduct=element %>
                                    <% if (promotionProduct.Promo.prm_pourcent) { %>
                                      <% remise=promotionProduct.Promo.prm_pourcent * produit.Tarifs[0].tar_ht / 100 %>
                                        <% newPriceht=produit.Tarifs[0].tar_ht - remise %>
                                          <% } else { %>
                                            <% newPriceht=produit.Tarifs[0].tar_ht - promotionProduct.Promo.prm_valeur
                                              %>
                                              <% } %>
                                                <% let tva=newPriceht * 20 /100 %>
                                                  <%= (newPriceht + tva).toFixed(2).toString().replace(".", "," ) %> $
                                                    <% } %>
                                                      <% }) %>
                                                        <% if (!applies.find(element=> element.pro_id ==
                                                          produit.pro_id)) { %>
                                                          <%=
                                                            (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", ","
                                                            ) %> $ %>
                                                            <% } %>
                      </strong>
                    </p>
                    <span class="bar">|</span>
                    <span class="btn-add button-ajouter" data-id="<%= produit.pro_id %>" data-bs-toggle="modal"
                      data-bs-target="#parent_modal"><strong>Add</strong></span>
                  </div>
                </div>
              </li>
              <% }) %>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-location">
    <div class="section-location-img"></div>
    <div class="section-location-text" id="qui-sommes-nous">
      <h1>RENTAL AND CREATION OF AFRO PRODUCTS</h1>
      <div class="content">
        <p>
          Welcome to the new website of African's art, workshop
          specialized in 
          manufacturing of works of art. We
          offer you a wide choice of quality 
          works of art.
        </p>
        <p>
          You can come and collect your order by click & collect in our
          workshop located in Chicago, a turnkey delivery service is
          also available everywhere in the world.
        </p>
        <p>
          Finally, if you can't find the ideal product, go to
          the creation space, for the creation of a tailor-made costume.
        </p>
        <h2>Works art</h2>
        <p>
          Passionate and always attentive to new trends in the industry
          of art, our catalog continues to expand in order to satisfy the
          greater number. Find more than 1362 references of african culture.
        </p>
        <p>
          Also discover our selection of accessories: masks, gloves,
          hats, jewelry... And even decoration!
        </p>
        <h2>Works art creation</h2>
        <p>
          If you do not find your happiness, go to our space
          creation. A team is there to listen to you and advise you. A
          tailor-made offer can be offered to you at a very attractive price.
        </p>
        <p>
          A counselor is at your service to get an appointment for
          a personalized interview to define your project together
          creating new works art. Thanks to this tailor-made service, a
          original work art can be made, for a small additional cost.
        </p>
        <p>
          Need additional information or a quote?
          Contact us at 00243819600518 or through the contact page!
        </p>
        <p>The whole team thanks you for your trust.</p>
      </div>
      <div class="section-location-divider">
        <span></span>
      </div>
    </div>
  </div>
  <div class="section-cta container">
    <h1>OUR UNIVERSE</h1>
    <section class="cta-items">
      <div class="cta-item">
        <img src="/images/sommaire-1.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">About us</h2>
          <a href="/#qui-sommes-nous" class="cta-item-btn">Discover</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-2.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">New COLLECTION</h2>
          <a href="/nouvelleCollection/#nouvelleCollection" class="cta-item-btn">Discover</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-3.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">CREATIONS</h2>
          <a href="/#" class="cta-item-btn">Discover</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire4.jpeg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">ACCESSOIRES</h2>
          <a href="/#" class="cta-item-btn">Discover</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-5.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">ON YOUTUBE</h2>
          <a href="https://www.youtube.com/" target="_blank" class="cta-item-btn">Discover</a>
        </div>
      </div>
      <div class="cta-item">
        <img src="/images/sommaire-6.jpg" alt="" class="cta-item-img" />
        <div class="cta-item-content">
          <h2 class="cta-item-content-title">PROMOTIONS</h2>
          <a href="/promotion/#page-promotion" class="cta-item-btn">Discover</a>
        </div>
      </div>
    </section>
  </div>
  <div class="section-nos-creations">
    <div class="text-content">
      <h1><span class="green">OUR</span> creations</h1>
      <div class="cta">
        <p>
          artwork making!</p>
        <a href="/#" class="btn">Discover</a>
      </div>
    </div>
  </div>
  <div class="section-newsletters">
    <div class="text">
      <p>
        Don't miss the boat by receiving
        <br />the newsletter for free by
        email
      </p>
    </div>
    <form class="form" action="/newsletter" method="post">
      <div class="input">
        <input type="text" placeholder="your mail adress" name="cli_mail" />
        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
      </div>
      <% if (typeof flash !='undefined' ) { %>
        <div class="alert alert-<%= flash.type %> alert-dismissible fade show mt-2" role="alert">
          <%= flash.message %>
            <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
    </form>
  </div>
  <div class="section-testimonials">
    <h1>
      TESTIMONIALS</h1>
    <div class="actions">
      <a href="#" class="btn">see everything</a>
      <a href="#" class="btn">
        Leave a review</a>
    </div>
  </div>
  <div class="section-contact container">
    <%if (typeof error !=='undefined' && error==true) { %>
      <div class="alert alert-danger mssg" role="alert">
        <%= (errorMsg) ? errorMsg : '' %>
      </div>
      <% } %>
        <%if (typeof error==null && error==false) { %>
          <div class="alert alert-success mssg" role="alert">
            <%= (messages) ? messages : '' %>
          </div>
          <% } %>

            <h1>CONTACT US</h1>
            <form method="post" action="/">
              <div class="mb-3">
                <input type="email" placeholder="mail" class="form-control" id="email" name="email"
                  aria-describedby="emailHelp" />
              </div>
              <!-- <div class="mb-3">
                <label for="formFile" class="form-label">Choisir un fichier</label>
                <input class="form-control" type="file" id="file" name="file" />
              </div> -->
              <div class="mb-3">
                <textarea class="form-control" placeholder="You need help" name="textarea"
                  id="textarea"></textarea>
              </div>
              <button class="btn">Send</button>
            </form>
  </div>

</div>
<div class="p-4 border m-4" id="cookies-div">
  <p>This website uses cookies to improve your experience. 
    We use cookies to remember your preferences, to improve our website performance 
    and to provide you with relevant content. You can find more information about our cookies policy here.</p>
    <div class="button">
      <button type="button" class="btn btn-secondary btn-cookies">Accept all cookies</button>
      <button type="button" class="btn btn-secondary " id="btn-cookie">Decline cookies</button>
    </div>
</div>
<script src="/javascripts/suggestion_carousel.js"></script>
<script src="/javascripts/home.js"></script>