<div id="page-confirmation-commande">
  <div class="title-recherche">
    <span><a href="">Acceuil</a></span>
    <span>/ Confirmation de commande</span>
  </div>

  <section class="main">
    <div class="content-card">
      <div class="block">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <span><i class="fa-solid fa-check"></i></span>VOTRE COMMANDE EST
              CONFIRMÉE
            </h3>
            <p>
              Un e-mail vous a été envoyé à l'adresse <%=
              commande.Client.cli_mail %>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card-block">
        <div class="row">
          <div class="order-items">
            <div class="row order-titles">
              <h3 class="title col-md-6 col-12">articles de la commande</h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                prix unitaire
              </h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                quantité
              </h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                total produits
              </h3>
            </div>
            <div class="order-confirmation">
              <div class="order-line">
                <% panierDetails.forEach(element => { %>
                <div class="row line">
                  <div class="col-sm-2 col-3 images">
                    <span class="image">
                      <img
                        src="/images/produits/<%= element.Produit.Media[0].med_ressource %>"
                        alt=""
                      />
                    </span>
                  </div>
                  <div class="col-sm-4 col-9">
                    <span class="article-title"
                      ><%= element.Produit.pro_libelle %></span
                    >
                  </div>
                  <div class="col-sm-6 col-12">
                    <div class="row">
                      <div class="col-4 text-sm-center text-xs-left">
                        <%= element.pad_ttc.toFixed(2) %> €
                      </div>
                      <div class="col-4 text-sm-center text-xs-left">
                        <%= element.pad_qte %>
                      </div>
                      <div class="col-4 text-sm-center text-xs-left total">
                        <%= (element.pad_ttc * element.pad_qte).toFixed(2)%> €
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
              <hr />
              <table>
                <tbody>
                  <tr>
                    <td>Sous-total</td>
                    <td class="price-col"><%= sous_total.toFixed(2) %> €</td>
                  </tr>
                  <% if (commande.Frais_port.frp_ttc) { %>
                  <tr>
                    <td>Frais de livraison</td>
                    <td class="price-col">
                      <%= commande.Frais_port.frp_ttc.toFixed(2) %> €
                    </td>
                  </tr>
                  <% } %> <% if (commande.com_frais) { %>
                  <tr>
                    <td>Autres frais</td>
                    <td class="price-col">
                      <%= commande.com_frais.toFixed(2) %> €de
                    </td>
                  </tr>
                  <% } %>
                  <tr class="total-value">
                    <td>TOTAL TTC</td>
                    <td class="price-col"><%= total.toFixed(2) %> €</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="details">
            <h1 class="title">DÉTAILS DE LA COMMANDE:</h1>
            <p>Référence de la commande : ORD-OJQCG</p>
            <p>Moyen de paiement : Devis</p>
            <p>Mode de livraison : <%= commande.Frais_port.frp_libelle %></p>
            <p><%= commande.com_comment %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="products">
    <div class="title"><h2>PRODUITS POPULAIRES</h2></div>
    <div class="row">
      <% produitsPopulaires.forEach(element => { %>
      <div class="item col-sm-6 col-md-6 col-xl-4">
        <div class="image">
          <a href="#"
            ><img
              src="/images/produits/<%= element.Media[0].med_ressource %>"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span><%= element.pro_libelle %></span></a>
          </p>
          <p class="ref">Ref: <%= element.pro_ref %></p>
          <div>
            <p class="price"><%= element.Tarifs[0].tar_ttc.toFixed(2) %> €</p>
            <p class="bar">|</p>
            <p
              class="price btn button-ajouter"
              data-bs-toggle="modal"
              data-id="<%= element.pro_id %>"
              data-bs-target="#parent_modal"
            >
              Ajouter
            </p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <div class="button-all">
    <a href="/catalogue"
      ><p>
        Tous les produits
        <span><i class="fa-solid fa-chevron-right"></i></span></p
    ></a>
  </div>
</div>
