<div id="page-confirmation-commande">
  <div class="title-recherche">
    <span><a href="">Home</a></span>
    <span>/ Order confirmation</span>
  </div>

  <section class="main">
    <div class="content-card">
      <div class="block">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <span><i class="fa-solid fa-check"></i></span>YOUR ORDER IS
              CONFIRMED
            </h3>
            <p>
              An email has been sent to the address <%=
              commande.Client.cli_mail %>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card-block">
        <div class="row">
          <div class="order-items">
            <div class="row order-titles">
              <h3 class="title col-md-6 col-12">order items</h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                unit price
              </h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                quantity
              </h3>
              <h3 class="title col-md-2 text-md-center _desktop-title">
                total products
              </h3>
            </div>
            <div class="order-confirmation">
              <div class="order-line">
                <% panierDetails.forEach(element => { %>
                <div class="row line">
                  <div class="col-sm-2 col-3 images">
                    <span class="image">
                      <img
                        src="/images/produits/<%= element.Produit.Media[0].med_ressource %>"
                        alt=""
                        class="img-fluid"
                      />
                    </span>
                  </div>
                  <div class="col-sm-10 col-9">
                    <div class="row">
                      <div class="col-sm-5 col-12 title-product">
                        <span class="article-title"
                          ><%= element.Produit.pro_libelle %></span
                        >
                      </div>
                      <div class="col-sm-7 col-12">
                        <div class="row">
                          <div class="col-4 text-sm-center text-xs-left">
                            <%=
                            element.pad_ttc.toFixed(2).toString()
                            %> $
                          </div>
                          <div class="col-4 text-sm-center text-xs-left">
                            <%= element.pad_qte %>
                          </div>
                          <div class="col-4 text-sm-center text-xs-left total">
                            <%= (element.pad_ttc *
                            element.pad_qte).toFixed(2).toString()%>
                            $
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
              <hr />
              <table>
                <tbody>
                  <tr>
                    <td>Subtotal</td>
                    <td class="price-col">
                      <%= panier_ttc.toFixed(2).toString() %> $
                    </td>
                  </tr>
                  <% if (commande.Frais_port.frp_ttc) { %>
                  <tr>
                    <td>Shipping cost</td>
                    <td class="price-col">
                      <%=
                      commande.Frais_port.frp_ttc.toFixed(2).toString()
                      %> $
                    </td>
                  </tr>
                  <% } %> <% if (commande.com_frais) { %>
                  <tr>
                    <td>Application fees</td>
                    <td class="price-col">
                      <%=
                      commande.com_frais.toFixed(2).toString()
                      %> $
                    </td>
                  </tr>
                  <% } %> <% total_general_commande = totalTTC +
                  commande?.com_frais + commande.Frais_port?.frp_ttc%>
                  <tr class="total-value">
                    <td>TOTAL ATI</td>
                    <td class="price-col">
                      <%= totalTTC.toFixed(2).toString() %> $
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="details">
            <h1 class="title">DETAILS OF THE ORDER:</h1>
            <p>
              Order reference: <% if (refCommande) { %> <%=
              refCommande %> <% } %>
            </p>
            <p>Payment method: Quote</p>
            <p>Delivery method : <%= commande.Frais_port.frp_libelle %></p>
            <p><%= commande.com_comment %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
