<div id="admin-blocs-produitHeader" class="border-bottom">
  <h6>Produits en promo</h6>
  <div class="produit-menu">
    <h4>Gérer vos les produits en promo</h4>
    <div class="produit-menu-btn">
      <a href="/admin/apply/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Appliquer une promo à un
          produit
        </button>
      </a>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
<div class="d-flex mt-4 p-2 menu-bar rounded">
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-user fa-2xl"></i>
    <div>
      <p>
        Clients <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-dollar-sign fa-2xl"></i>
    <div>
      <p>
        Réduction <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-bag-shopping fa-2xl"></i>
    <div>
      <p>
        Commandes & reduction<br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-money-check-dollar fa-2xl"></i>
    <div>
      <p>
        Essayez le code promo <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
</div>
<% if (typeof succesMsg == 'string') { %>
<div class="alert alert-success mt-3" role="alert"><%= succesMsg %></div>
<% } %>
<div id="admin-page-apply">
  <div class="apply-content mt-3 mb-5">
    <div class="d-flex justify-content-between p-3 pb-0">
      <h6>Produits en promo</h6>
      <i class="fa-solid fa-gear"></i>
    </div>
    <hr />
    <table class="table mt-4 table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Code promo</th>
          <th scope="col">Pourcentage</th>
          <th scope="col">Valeur</th>
          <th scope="col">Date debut</th>
          <th scope="col">Date fin</th>
          <th scope="col">Status</th>
          <th scope="col">Image</th>
          <th scope="col">Nom produit</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if ((typeof applies !== 'undefined') && applies.length > 0) { %> <%
        applies.forEach(element => { %>
        <tr>
          <td scope="row">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
          </td>
          <th scope="row"><%= element.app_id %></th>
          <td><%= element.Promo.prm_code %></td>
          <td><%= element.Promo.prm_pourcent %></td>
          <td><%= element.Promo.prm_valeur %></td>
          <td><%= element.Promo.prm_debut%></td>
          <td><%= element.Promo.prm_fin%></td>
          <td>
            <% if (element.Promo.prm_actif) { %>

            <span class="badge text-bg-success">activé</span>
            <% } else { %>

            <span class="badge text-bg-danger">inactif</span>
            <% } %>
            
          </td>
          <td width="60">
            <img
              src="/images/produits/<%= element.Produit.Media[0].med_ressource %>"
              alt=""
              class="img-fluid w-100 h-25 img-content"
            />
          </td>
          <td><%= element.Produit.pro_libelle%></td>
          <td>
            <div class="d-flex gap-4">
              <form method="get" action="/admin/apply/update/?app_id">
                <input
                  type="hidden"
                  name="app_id"
                  value="<%= element.app_id %>"
                />
                <button class="dropdown-item" type="submit">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </form>

              <form method="post" action="/admin/apply/delete">
                <input
                  type="hidden"
                  name="app_id"
                  value="<%= element.app_id %>"
                />
                <button class="dropdown-item" type="submit">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %> <% }else { %>
        <div class="alert alert-primary" role="alert">
          Aucune promo n'est appliquée à un produit pour l'instant.
        </div>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
