<div id="page-admin-produit-location">
    <% if (typeof error != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            Erreur interne du serveur
        </div>
    <% } else { %>
     <div class="container-fluid">
        <div id="admin-blocs-ClientHeader" class="border-bottom mb-5">
            <!-- <a href="#">
              <h6>Tableau de bord</h6>
            </a> -->
            <div class="produit-menu">
                <div class="text">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                          <a class="fil-ariane-item" href="#" style="color: #25b9d7;">Catalogue</a>
                        </li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">
                          <a class="fil-ariane-item" href="/admin/transporteurs">Transporteurs</a>
                        </li> -->
                        <li class="breadcrumb-item active" aria-current="page">
                          <span>Produits en location</span>
                        </li>
                      </ol>
                    </nav>
                  </div>
            </div>
          </div>
          
        <div class="card">
            <h2>Rechercher un costume</h2>
            <form class="row gx-3 gy-2 align-items-center" method="post" action="/admin/produits-en-location/search">
                <div class="col-sm-3">
                    <div class="input-group">
                        <label class="form-label" for="ref_produit">Réf. produits</label>
                        <input name="pro_ref" type="text" class="form-control" id="ref_produit" placeholder="Ref produit">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <label class="form-label" for="ref_commande">Réf. commande</label>
                        <input value="<%= typeof com_num != 'undefined' ? com_num : ''%>"  name="com_num" type="text" class="form-control" id="ref_commande" placeholder="réf commande">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="">Client</label>
                    <input type="text" name="cli_nom" class="form-control" placeholder="nom">
                    <input type="text" name="cli_prenom" class="form-control" placeholder="prenom">
                </div>
                <div class="col-auto">
                    <label for="">Date location</label>
                    <input type="date" name="exp_date" class="form-control mb-1">
                    <input type="date" name="exp_date_2" class="form-control">
                </div>
                <div class="col-auto btn-container">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Pro. ID</th>
                    <th scope="col">Réf. commande</th>
                    <th scope="col">Réf. produit</th>
                    <th scope="col">
                        <div>
                            <h4>Client</h4>
                            <div>
                                <p>Prénom</p>
                                <p>Nom</p>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <h4>En location</h4>
                            <div>
                                <p>Du</p>
                                <p>Au</p>
                            </div>
                        </div>
                    </th>
                    <th>Quantité</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (commandes.length > 0) { %>
                        <% commandes.forEach(commande => { %>
                            <% commande.Panier.Panier_details?.forEach(pad => { %>
                                <tr>
                                    <th scope="row"><%= pad.Produit.pro_id %></th>
                                    <td><%= commande.com_num %></td>
                                    <td><%= pad.Produit.pro_ref %></td>
                                    <td>
                                        <div>
                                            <p><%= commande.Client.cli_nom %></p>
                                            <p><%= commande.Client.cli_prenom %></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p><%= moment(commande.Expedition?.exp_depart).format('DD/MM/YYYY') %></p>
                                            <p><%= moment(commande.com_fin_spectacle).format('DD/MM/YYYY') %></p>
                                        </div>
                                    </td>
                                    <td><%= pad.pad_qte %></td>
                                    <td><button class="btn btn-primary"><i class="fa fa-search"></i></button></td>
                                </tr>
                            <% }) %>
                        <% }) %>
                    <% } %>
                  <tr></tr>
                </tbody>
            </table>
        </div>
     </div>
    <% } %>
</div>