<div id="page-admin-produit-location">
    <% if (typeof error != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            Erreur interne du serveur
        </div>
    <% } else { %>
     <div class="container-fluid">
        <div id="admin-blocs-ClientHeader" class="border-bottom mb-5">
            <a href="#">
              <h6>Tableau de bord</h6>
            </a>
            <div class="produit-menu">
              <h4>Produits en location</h4>
            </div>
          </div>
          
        <div class="card">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Réf. commande</th>
                    <th scope="col">Réf. produit</th>
                    <th scope="col">
                        <div>
                            <h4>Client</h4>
                            <div>
                                <p>Prénom</p>
                                <p>Nom</p>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div>
                            <h4>En location</h4>
                            <div>
                                <p>Du</p>
                                <p>Au</p>
                            </div>
                        </div>
                    </th>
                    <th>Quantité</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (detail_expeditions.length > 0) { %>
                       <% detail_expeditions.forEach(dex => { %>
                        <tr>
                            <th scope="row"><%= dex.dex_id %></th>
                            <td><%= dex.Expedition.Commande.com_num %></td>
                            <td><%= dex.Produit.pro_ref %></td>
                            <td>
                                <div>
                                    <p><%= dex.Expedition.Commande.Client.cli_nom %></p>
                                    <p><%= dex.Expedition.Commande.Client.cli_prenom %></p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p><%= moment(dex.Expedition.exp_depart).format('DD/MM/YYYY') %></p>
                                    <p></p>
                                </div>
                            </td>
                            <td><%= dex.dex_nbre %></td>
                            <td><button class="btn btn-primary"><i class="fa fa-search"></i></button></td>
                          </tr>
                       <% }) %>
                    <% } %>
                  <tr></tr>
                </tbody>
            </table>
        </div>
     </div>
    <% } %>
</div>