<%- include('../blocs/panierHeader') %>
<div id="admin-page-panier">
      <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">ID commande</th>
        <th scope="col" class="text-center">Client</th>
        <th scope="col" class="text-center">Total</th>
        <th scope="col" class="text-center">Transporteur</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% panier.forEach(element => { %>
            <tr>
            <td scope="row">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
            </td>
            <td scope="row" class="text-center"><%= element.pan_id %></td>
            <td scope="row" class="text-center w-25">
                <% if(element.Commande){ %>
              <%= element.Commande.com_id %>
               <% } else{ %>
                <span style="border:1px solid rgb(241, 60, 60);border-radius:5px;color:white;background-color: rgb(241, 60, 60);padding:3px 4px;">Non commandé</span>
                <% } %>
            </td>
            <td scope="row" class="text-center w-25" ><% if ((typeof element.Client.cli_nom !== "undefined")) { %>
             <%= (element.Client.cli_prenom.charAt(0).toUpperCase())%>. <%= element.Client.cli_nom %>
            <% } %></td>
            <td scope="row" class="text-center">
               <% if(element.Commande){ %>
              <%= element.Commande.com_ttc %> €
               <% } else{ %>
                <span style="border:1px solid rgb(17, 204, 73);border-radius: 5px;color:white;background-color: rgb(17, 204, 73);padding:3px 4px;"><%=element.Panier_details[0]?.pad_ttc  %> €</span>
                <% } %>
              </td>
            <td scope="row" class="text-center w-50" >
            <% if(element.Commande){ %>
              <%= element.Commande.Frais_port.frp_libelle %>
               <% } else{ %>
                -
                <% } %>
          </td>
            <td scope="row" class="text-center w-25"><%= element.pan_date.getDate()%>/<%= element.pan_date.getMonth()%>/<%= element.pan_date.getFullYear()%>   <%= element.pan_date.getHours()%>:<%=element.pan_date.getMinutes()%>:<%= element.pan_date.getSeconds() %> </td>
            <td scope="row"><i class="fa fa-search-plus"></i></td>
        </tr>
      <% }) %>
   
    </tbody>
    </table>
      <div>
    <% if (nbrPages > 1) { %>
    <div class="row affichage">
      <p>
        Affichage <span><%= start %> - <%= end %></span> de
        <span><%= panierNbr%></span>
      </p>
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=1">1</a>
        </li>
        <% if (pageActive === 1 || pageActive ===2) { %>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=3">3</a>
        </li>
        <% } else if (pageActive !== nbrPages && pageActive !== nbrPages-1) { %>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/paniers/?&page=<%= pageActive -1 %>"
            ><%= pageActive-1 %></a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=<%= pageActive %>"
            ><%= pageActive %></a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=<%= pageActive+1 %>"
            ><%= pageActive+1 %></a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=<%= pageActive+2 %>"
            ><%= pageActive+2 %></a
          >
        </li>
        <li class="page-item">...</li>
        <% } %>
        <li class="page-item">
          <a class="page-link" href="/admin/paniers/?&page=<%= nbrPages %>"
            ><%= nbrPages %></a
          >
        </li>
      </ul>
    </nav>

    <% } %>
  </div>
</div>
