<div id="admin-page-frais-port">
  <div class="ajouter-typecat">
    <div class="text">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="fil-ariane-item" href="#">Referentiel</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <span>Frais de port</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="button">
      <button class="btn btn-info">
        <span>+</span>
        <span> <a href="/admin/frais-port/ajouter">Ajouter </a></span>
      </button>
    </div>
  </div>

  <div class="table-content">
    <table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Libellé</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Actif</th>
        <th>Défaut</th>
        <th>Description</th>
        <!-- <th>Image</th> -->
        <th>HT</th>
        <th>TTC</th>
        <th>Actions</th>
      </tr>

      <% fraisPort.forEach(element => { %>
      <tr>
        <td><%= element.frp_id %></td>
        <td><%= element.frp_libelle %></td>
        <td><%= new Date(element.frp_debut).toLocaleDateString('fr-fr') %></td>
        <td><%= new Date(element.frp_fin).toLocaleDateString('fr-fr') %></td>
        <td>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              id="activateClient"
              name="frp_actif"
              value="<%= element.frp_actif %>"
              type="checkbox"
              checked
            />
          </div></td>
        <td>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              id="activateClient"
              name="frp_default"
              value="<%= element.frp_default %>"
              type="checkbox"
              <% if (element.frp_default === true ) { %>
                  checked
              <% } %>
            />
          </div></td>
        <td><%= element.frp_description %></td>
        <!-- <td> <%= element.frp_img %></td> -->
        <td>
          <%= element.frp_ht?.toFixed(2).toString().replace(".", ",") %> €
        </td>
        <td>
          <%= element.frp_ttc?.toFixed(2).toString().replace(".", ",")%> €
        </td>
        <td class="td-icones">
          <a href="/admin/frais-port/edit/<%= element.frp_id %>"
            ><i class="fas fa-edit icons"></i
          ></a>
        <a href="/admin/frais-port/delete/<%= element.frp_id %>"> 
           <i class="fa fa-trash icons" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
</div>
