<div id="page-promotion">
  <div class="group-catalogue">
    <div class="title">
      <a href="">Accueil</a>
      <p style="color: gray">/ Promotions</p>
    </div>
    <div class="list">
      <div class="border"></div>
      <div class="list-body">
        <p>Promotions</p>
      </div>
      <div class="border"></div>
    </div>
  </div>
  <div class="catalogue">
    <div class="cat-title">
      <h2>
        CATÉGORIE :
        <span>PROMOTIONS</span>
      </h2>
    </div>
    <% if (nbrProduit == 0) { %>
    <div class="alert alert-success" role="alert">
      <h3>Aucun produit disponible pour le moment</h3>
      <p>
        Restez à l'écoute ! D'autres produits seront affichés ici au fur et à
        mesure qu'ils seront ajoutés.
      </p>
    </div>
    <% } else { %>
    <div class="cat-filter">
      <p>Il y a <span><%= nbrProduit %></span> produits</p>
      <div class="filter">
        <label for="">Trier par : </label>
        <div class="input" id="input">
          <span id="choix"><%= choix ? choix : "Choisir" %></span>
          <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
          <div class="content content-hide" id="content">
            <ul>
              <a style="text-decoration: none;" href="/promotion/?orderby=AàZ"><li class="item-choice">Nom, A à Z</li></a>
              <a style="text-decoration: none;" href="/promotion/?orderby=ZàA"><li class="item-choice">Nom, Z à A</li></a>
              <a style="text-decoration: none;" href="/promotion/?orderby=PC"> <li class="item-choice">Prix, croissant</li></a>
              <a style="text-decoration: none;" href="/promotion/?orderby=PD"><li class="item-choice">Prix, décroissant</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-body">
      <% produits.forEach(produit => { %>
      <div class="produit">
        <div class="image-cadre">
          <a href="/article/<%= produit.pro_id %>">
            <img
              src="/images/produits/<%= produit.Produit.Media[0].med_ressource %>"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="bar"></div>
        <div class="detail">
          <a href=""><%= produit.Produit.pro_libelle %></a>
          <div>Ref: <span><%= produit.Produit.pro_ref %></span></div>
          <div class="quantite"><span>  <%= quantiteOfEachProduct.find(element => element.id === produit.Produit.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.Produit.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.Produit.pro_id).qty > 1 ? "articles" : "article" %></div>
          <% let newPriceht = 0 %>
          <% let remise = 0 %>
          <% if (produit.Promo.prm_pourcent) { %> 
          <% remise = produit.Promo.prm_pourcent * produit.Produit.Tarifs[0].tar_ht / 100 %>
          <% newPriceht = produit.Produit.Tarifs[0].tar_ht - remise %>
          <% } else { %> <% newPriceht = produit.Produit.Tarifs[0].tar_ht - produit.Promo.prm_valeur %> <% } %>
          <% let tva = newPriceht * 20 /100 %>
          <div class="montant">
            <div class="ancien-prix d-flex gap-3">
              <del> <%= produit.Produit.Tarifs[0].tar_ttc.toFixed(2).toString().replace(".",",") %>  €</del>
              <%= (newPriceht + tva).toFixed(2).toString().replace(".",",") %>  €
            </div>
            <button
              class="btn-add button-ajouter"
              data-id="<%= produit.pro_id %>"
              data-bs-toggle="modal"
              data-bs-target="#parent_modal"
            >
              Ajouter
            </button>
          </div>
        </div>
      </div>
      <% }) %>

      <!-- autres produits -->
    </div>
   <div class="cat-pagination">
      <% if (nbrPages>1) { %>
      <div>
        <p>
          Affichage <span> <%= start %> - <%= end %></span> de
          <span><%= nouveauProduits.length %></span>
        </p>
      </div>
      <nav>
        <ul class="pagination">
          <% for( let i = 1; i <= nbrPages; i++ ) { %>
          <li class="page-item">
            <a
              class="page-link <%= pageActive === i ? 'active' : '' %>"
              href="/promotion?page=<%= i %>&orderby=<%= orderby %>#promotion"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<script src="/javascripts/promotion.js"></script>
