<div id="admin-header-page-details-clients" class="border-bottom">
  <a href="/admin/clients/">
    <h6 class="pt-3">Clients</h6>
  </a>
  <div class="produit-menu">
    <h4>
      Informations sur le client <%= clients.cli_nom %> <%= clients.cli_prenom
      %>
    </h4>
  </div>
</div>
<div id="admin-page-details-clients">
  <div class="d-flex gap-4 mt-5">
    <div class=" d-flex flex-column gap-4 left-side-div ">
      <div class="card shadow">
        <div class="d-flex justify-content-between ">
          <div class="d-flex gap-2 p-3">
            <i class="fa-solid fa-user"></i>
            <div>
              <h6>
                <%= clients.cli_nom %> <%= clients.cli_prenom %> <%=
                clients.cli_mail %>
              </h6>
            </div>
          </div>
          <form method="get" action="/admin/clients/update/?cli_id">
            <input type="hidden" name="cli_id" value="<%= clients.cli_id %>" />
            <button class="dropdown-item" type="submit">
              <i class="fa-solid fa-pen p-3"></i>
            </button>
          </form>
        </div>
        <hr />
        <div class="p-3">
          <div class="d-flex gap-4">
            <p class="info-titre">Civilité</p>
            <p class="w-50 d-flex justify-content-start">
              <%= clients.Titre.tit_libelle %>
            </p>
          </div>
          <div class="d-flex gap-4">
            <p class="info-titre">Inscription</p>
            <p class="w-50 d-flex justify-content-start">
              <%= moment(clients.cli_inscription).format('DD/MM/YYYY HH:mm:ss') %>
            </p>
          </div>
          <div class="d-flex gap-4">
            <p class="info-titre">Inscriptions</p>
            <div
              class="inscription d-flex d-flex justify-content-start gap-4 w-50"
            >
              <% if (clients.cli_newsletter) { %>
              <span class="badge text-bg-success"
                ><i class="fa-solid fa-check"></i> Lettre d'Informations</span
              >
              <% }%><% if (clients.cli_partenaire) { %>
              <span class="badge text-bg-success"
                ><i class="fa-solid fa-check"></i> Offres partenaires</span
              >
  
              <% }%><% if (!clients.cli_partenaire && !clients.cli_newsletter) {
              %>
              <label for="">aucune inscription</label>
              <% }%>
            </div>
          </div>
          <div class="d-flex mt-2 gap-4">
            <p class="info-titre">Etat</p>
            <div class="inscription d-flex justify-content-start w-50">
              <% if (clients.cli_activation) { %>
              <span class="badge text-bg-success"
                ><i class="fa-solid fa-check"></i> activé</span
              >
              <% } else { %>
              <span class="badge text-bg-danger">non activé</span>
              <% } %>
            </div>
          </div>
          <div class="d-flex mt-2 gap-4">
            <p class="info-titre">Téléphone</p>
            <p class="w-50 d-flex justify-content-start"><%= clients.cli_num%></p>
          </div>
          <div class="d-flex mt-2 gap-4">
            <p class="info-titre">Mail</p>
            <p class="w-50 d-flex justify-content-start"><%= clients.cli_mail%></p>
          </div>
          <div class="d-flex mt-2 gap-4">
            <p class="info-titre">Fonction</p>
            <p class="w-50 d-flex justify-content-start">
              <%= clients.cli_fonction%>
            </p>
          </div>
        </div>
      </div>
      <div class="card shadow client-adresse-content mb-4">
        <div class="d-flex justify-content-between p-3">
          <div class="d-flex justify-content-between gap-2">
            <i class="fa-solid fa-location-dot"></i>
            <h6>Addresse</h6>
            <span class="badge bg-info"><%= adresses.length %></span>
          </div>
          <a href="/admin/adresse/add/<%= adresses[0]?.cli_id %>"
            ><i class="fa-solid fa-circle-plus"></i
          ></a>
        </div>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Société</th>
              <th scope="col">Prénom</th>
              <th scope="col">Nom</th>
              <th scope="col">Adresse</th>
              <th scope="col">Code postal</th>
              <th scope="col">Ville</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if ((typeof adresses !== 'undefined') && adresses.length > 0) {
            %> <% adresses.forEach(adresse => { %>
            <tr>
              <th scope="row"><%= adresse.adr_id %></th>
              <th scope="row"><%= adresse.adr_societe %></th>
              <th scope="row"><%= adresse.adr_prenom %></th>
              <th scope="row"><%= adresse.adr_nom %></th>
              <th scope="row"><%= adresse.adr_adresse %></th>
              <th scope="row"><%= adresse.adr_cp %></th>
              <th scope="row"><%= adresse.adr_ville %></th>
              <th scope="row"><%= adresse.adr_phone %></th>
              <td>
                <a href="/admin/adresse/edit/<%= adresse.adr_id %>"> <i class="fa-solid fa-pen"></i></a>
              </td>
            </tr>
            <% }) %> <% }else { %>
            <div class="alert alert-primary" role="alert">
              Aucune adresse correspondante
            </div>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-side-div ">
      <div class="card shadow mb-4">
        <div class="d-flex gap-4">
          <div class="d-flex gap-2 p-3">
            <i class="fa-solid fa-bag-shopping"></i>
            <h6>Commandes</h6>
            <span class="badge bg-info"><%= commandes.length %></span>
          </div>
        </div>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Total</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if ((typeof commandes !== 'undefined') && commandes.length > 0) {
            %> <% commandes.forEach(commande => { %>
            <tr>
              <th scope="row"><%= commande.com_id %></th>
              <td>
                <%= moment(commande.com_date).format('DD/MM/YYYY HH:mm:ss') %>
              </td>
              <td><%= totalCommandes %> €</td>
              <td>
                <a href="/admin/devis/view/<%= commande.com_id %>"
                  ><i class="fa-solid fa-magnifying-glass"></i
                ></a>
              </td>
            </tr>
            <% }) %> <% }else { %>
            <div class="alert alert-primary" role="alert">
              Ce client n'a pas encore passé de commande
            </div>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
