<%- include('../blocs/clientHeader') %>
<div class="pt-4" id="admin-page-clients">
  <div class="d-flex p-2 menu-bar rounded">
    <div class="d-flex justify-content-center pt-3 gap-2 w-25">
      <i class="fa-solid fa-user fa-2xl"></i>
      <div>
        <p>
          Clients <br />
          <span>TOUT TEMPS</span>
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3 gap-2 w-25">
      <i class="fa-solid fa-calendar fa-2xl"></i>
      <div>
        <p>
          Age moyen <br />
          <span>TOUT TEMPS</span>
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3 gap-2 w-25">
      <i class="fa-solid fa-bag-shopping fa-2xl"></i>
      <div>
        <p>
          Commandes par client <br />
          <span>TOUT TEMPS</span>
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3 gap-2 w-25">
      <i class="fa-solid fa-envelope fa-2xl"></i>
      <div>
        <p>
          Inscriptions à la newsletter <br />
          <span>TOUT TEMPS</span>
        </p>
      </div>
    </div>
  </div>
  <% if (typeof succesMsg == 'string') { %>
  <div class="alert alert-success mt-3 d-flex justify-content-between" role="alert"><%= succesMsg %> <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button></div>
  <% } %>
  <div class="client-content mt-4 pb-4">
    <div class="d-flex justify-content-between p-3 pb-0 client-content-header">
      <h6>Gérer vos clients (<%= clientsNbr%>)</h6>
      <% if (typeof searchType !== "undefined") { %>
      <div class="d-flex justify-content-end gap-4 w-50">
        <h6 class="pt-2">Trier par :</h6>
        <div class="dropdown">
          <a
            class="btn btn-outline-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= typeof choix !== 'undefined' ? choix : "choisir" %>
          </a>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=NAàZ"
                >Nom, A à Z</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=NZàA"
                >Nom, Z à A</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=PAàZ"
                >Prenom, A à Z</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=PZàN"
                >Prenom, Z à A</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=DC"
                >Date inscription, plus récente</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/admin/clients?orderby=DD"
                >Date inscription, plus ancienne</a
              >
            </li>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
    <hr />
    <table class="table mt-4 mb-4 table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class=" w-25">#</th>
          <th scope="col" class=" w-25">Titre</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Adresse e-mail</th>
          <th scope="col">Fonction</th>
          <th scope="col" class=" w-25">Activé</th>
          <th scope="col" class=" w-25">Newsletter</th>
          <th scope="col" class=" w-25">Partenaires</th>
          <th scope="col">Inscription</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <form action="/admin/clients/search" method="get">
          <td scope="row">
            <!-- <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            /> -->
          </td>
          <td>
          </td>
          <td>
            <select
              class="form-select"
              aria-label="Default select example"
              name="tit_id"
            >
              <option selected></option>
              <% titres.forEach(element => { %>
              <option value="<%= element.tit_id %>">
                <%=element.tit_libelle %>
              </option>

              <% } )%>
            </select>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              id="InputNom"
              aria-describedby="nomHelp"
              name="cli_prenom"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              id="InputNom"
              aria-describedby="nomHelp"
              name="cli_nom"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              id="InputNom"
              aria-describedby="nomHelp"
              name="cli_num"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              id="InputNom"
              aria-describedby="nomHelp"
              name="cli_mail"
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              id="InputSearchFonction"
              aria-describedby="nomHelp"
              name="cli_fonction"
            />
          </td>
          <td>
            <select
              class="form-select"
              aria-label="Default select example"
              name="cli_activation"
            >
              <option selected></option>
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </td>
          <td>
            <select
              class="form-select"
              aria-label="Default select example"
              name="cli_newsletter"
            >
              <option selected></option>
              <option value="true">inscrit</option>
              <option value="false">non inscrit</option>
            </select>
          </td>
          <td>
            <select
              class="form-select"
              aria-label="Default select example"
              name="cli_partenaire"
            >
              <option selected></option>
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </td>
          <td>
            <div class="d-flex gap-2">
              <input
                type="date"
                class="form-control w-50"
                id="inputDebut"
                name="cli_debut"
                value="<%= new Date().toISOString().substring(0,10) %>"
              />
              <label for="" class="mt-2">Du</label>
            </div>
            <div class="d-flex gap-2">
              <input
                type="date"
                class="form-control mt-1 w-50"
                id="inputDebut"
                name="cli_fin"
                value="<%= new Date().toISOString().substring(0,10) %>"
              />
              <label for="" class="mt-2">Au</label>
            </div>
          </td>
          <td>
            <button class="btn btn-info btn-search-client" type="submit">
              Rechercher
            </button>
          </td>
        </form>
        <% if ((typeof clients !== 'undefined') && clients.length > 0) { %> <%
        clients.forEach(element => { %>
        <tr>
          <td scope="row">
            <input
              class="form-check-input"
              type="checkbox"
              value="<%= element.cli_id %>"
              id="flexCheckDefault"
            />
          </td>
          <th scope="row"><%= element.cli_id %></th>
          <td><%= element.Titre.tit_libelle %></td>
          <td>
            <a href="/admin/clients/infos/?cli_id=<%= element.cli_id %>"
              ><%= element.cli_prenom %></a
            >
          </td>
          <td>
            <a href="/admin/clients/infos/?cli_id=<%= element.cli_id %>"
              ><%= element.cli_nom %></a
            >
          </td>
          <td>
            <a href="/admin/clients/infos/?cli_id=<%= element.cli_id %>"
              ><%= element.cli_num %></a
            >
          </td>
          <td>
            <a href="/admin/clients/infos/?cli_id=<%= element.cli_id %>"
              ><%= element.cli_mail%></a
            >
          </td>
          <td>
            <a href="/admin/clients/infos/?cli_id=<%= element.cli_id %>"
              ><%= element.cli_fonction%></a
            >
          </td>
          <td>
            <div class="d-flex justify-content-center form-check form-switch">
              <input class="form-check-input inputActivation" data-id="<%=
              element.cli_id %>" type="checkbox" value="" <%=
              element.cli_activation ? "checked" :"" %> />
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center form-check form-switch">
              <input class="form-check-input inputNewsletter" data-id="<%=
              element.cli_id %>" type="checkbox" value="" <%=
              element.cli_newsletter ? "checked" :"" %> />
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center form-check form-switch">
              <form action="/admin/clients/update" method="post">
                <input class="form-check-input inputPartenaire" data-id="<%=
                element.cli_id %>" type="checkbox" value="" <%=
                element.cli_partenaire ? "checked" :"" %> />
              </form>
            </div>
          </td>

          <td>
            <%= moment(element.cli_inscription).format('DD/MM/YYYY HH:mm:ss ')
            %>
          </td>
          <td>
            <div class="d-flex  gap-2">
              <form method="get" action="/admin/adresse/?cli_id">
                <input
                  type="hidden"
                  name="cli_id"
                  value="<%= element.cli_id %>"
                />
                <button class="dropdown-item" type="submit">
                  <i class="fa-solid fa-house mt-1"></i>
                </button>
              </form>
              <form method="get" action="/admin/clients/update/?cli_id">
                <input
                  type="hidden"
                  name="cli_id"
                  value="<%= element.cli_id %>"
                />
                <button class="dropdown-item" type="submit">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </form>

              <div class="dropdown">
                <i
                  class="fa-solid dropdown-toggle fa-ellipsis-vertical"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>
                <ul class="dropdown-menu">
                  <li>
                    <form method="get" action="/admin/clients/infos/?cli_id">
                      <input
                        type="hidden"
                        name="cli_id"
                        value="<%= element.cli_id %>"
                      />
                      <button class="dropdown-item" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i> Afficher
                      </button>
                    </form>
                  </li>

                  <li>
                    <form method="post" action="/admin/clients/delete">
                      <input
                        type="hidden"
                        name="cli_id"
                        value="<%= element.cli_id %>"
                      />
                      <button class="dropdown-item" type="submit">
                        <i class="fa-solid fa-trash"></i> Supprimer
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <% }) %> <% }else { %>
        <div class="alert alert-primary" role="alert">
          Il n'y a aucun client dans votre base des données pour l'instant.
        </div>
        <% } %>
      </tbody>
    </table>
  </div>
  <% if (typeof searchType !== "undefined") { %>
  <div class="cat-pagination mt-3">
    <% if (nbrPages > 1) { %>
    <div class="row affichage">
      <p>
        Affichage <span><%= start %> - <%= end %></span> de
        <span><%= clientsNbr%></span>
      </p>
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=1&orderby=<%= orderby %>"
            >1</a
          >
        </li>
        <% if (pageActive === 1 || pageActive ===2) { %>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=2&orderby=<%= orderby %>"
            >2</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=3&orderby=<%= orderby %>"
            >3</a
          >
        </li>
        <% } else if (pageActive !== nbrPages && pageActive !== nbrPages-1) { %>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=<%= pageActive -1 %>&orderby=<%= orderby %>"
            ><%= pageActive-1 %></a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=<%= pageActive %>&orderby=<%= orderby %>"
            ><%= pageActive %></a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=<%= pageActive+1 %>&orderby=<%= orderby %>"
            ><%= pageActive+1 %></a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=<%= pageActive+2 %>&orderby=<%= orderby %>"
            ><%= pageActive+2 %></a
          >
        </li>
        <li class="page-item">...</li>
        <% } %>
        <li class="page-item">
          <a
            class="page-link"
            href="/admin/clients/?&page=<%= nbrPages %>&orderby=<%= orderby %>"
            ><%= nbrPages %></a
          >
        </li>
      </ul>
    </nav>

    <% } %>
  </div>
  <% } %>
</div>
<script src="/javascripts/admin/client.js"></script>
