<header id="bloc-header">
    <div>
        <div class="top-bar ">
            <div class="title-content">
                <p>Tel. 06 14 28 99 81</p>
                <p>LOCATION ET CRÉATION DE COSTUMES DE DANSE</p>
            </div>
            <% if (!locals.user) { %>
                <div class="link-content">
                    <a href="/inscription/#page-inscription"><strong>S'inscrire</strong></a>&nbsp
                    <p>-</p>
                    &nbsp
                    <a href="/connexion/#page-connexion"> <strong>Connexion</strong></a>
                </div>
            <% } %>
            
            <div class="social-link d-flex flex-row">
                <a href="https://www.facebook.com/aiguillesenscene.aiguillesenscene" target="_blank"><i class="fa-2x fa-brands fa-facebook "></i
                ></a>
                <a href="https://www.instagram.com/aiguillesenscene/?hl=fr" target="_blank"><i class="fa-2x fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="nav-main-content sentinal">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo-img img-fluid" alt="" srcset="" /></a>
            <div class="nav-content">
                <nav class="navbar navbar-expand-lg ">
                    
                    <button class="btn btn-canva" data-bs-toggle="offcanvas" data-bs-target="#menu-mobil-canva" role="button" aria-controls="menu-mobil-canva">
                        <span class="navbar-toggler-icon"></span> 
                    </button>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/#qui-sommes-nous">Qui sommes-nous ? </a>
                            </li>
                            <li class="nav-item dropdown">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="/catalogue/#pages-catalogue" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Catalogue
                                        </a>
                                    <div class="dropdown-menu dropdown-parent" aria-labelledby="dropdownMenuButton">
                                        <div class="menu-title">
                                            <% type_categories?.forEach(type_categorie => { %>
                                                <div class="title-catalogue">
                                                    <h6><%= type_categorie.tyc_libelle %></h6>
                                                    <hr>
                                                    <ul>
                                                        <% type_categorie.Categories.forEach(categorie => { %>
                                                            <li><a href="/catalogue/<%=categorie.cat_id %>"><%=categorie.cat_libelle %></a></li>
                                                        <% }) %>    
                                                    </ul>
                                                </div>
                                            <% }) %>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/creation/#page-creation">Création</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/nouvelleCollection/#nouvelleCollection">Nouvelle collection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='/promotion/#page-promotion'>Promotions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact/#page-contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <h4 class="menu-button m-3">Menu</h4>
                <form class="d-flex flex-row search-div" action="/recherche/#page-recherche" method="get">
                    <button type="submit" style="border: none; outline:none;background-color:white;">
                        <i class="fa-solid fa-magnifying-glass mt-1"></i>
                    </button>
                    <div class="form-inline my-2 my-lg-0">
                        <input type="text" name="search" placeholder="Rechercher" class="search-input" />
                    </div>
                </form>
                <div class="d-flex flex-row user-div">
                    <div class="dropstart">
                        <% if (locals.user) { %>
                        <i class="fa-solid fa-user fa-xl dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu user-menu-Dropdown">
                            <li><a class="dropdown-item" href="/mon-compte/#page-mon-compte"><i class="fa-regular fa-user"></i> Mon compte</a></li>
                            <li><a class="dropdown-item" href="/mon-compte/adresses/#adresses"><i class="fa-regular fa-address-book"></i> Adresse</a></li>
                            <li><a class="dropdown-item" href="/mon-compte/historique/#page-historique"><i class="fa-solid fa-bars"></i> Historique de vos commandes</a></li>  
                            <li><a class="dropdown-item" href="/mon-compte/logout"><i class="fa-solid fa-right-to-bracket"></i> Déconnexion</a></li>
                        </ul>
                       <% } else {%>  
                        <a href="/connexion"><i class="fa-solid fa-user fa-xl"></i></a>
                       <% } %>
                      </div>
                      <a  id="kart-link-handler-btn" class="position-relative" data-bs-toggle="offcanvas" href="#bloc-panier" role="button" aria-controls="bloc-panier">
                        <i class="fa-solid fa-xl fa-cart-shopping">
                        </i>
                        <span class="position-absolute top-75 start-80 translate-middle badge rounded-circle " id="cart-item-count">
                          <%= locals.pan_nbr ? locals.pan_nbr:0   %> 
                        <span class="visually-hidden">unread messages</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="headerSticky">
    <div class="d-flex nav-main-content ">
        <nav class="navbar navbar-expand-lg second-navbar">
            <button class="btn btn-canva" data-bs-toggle="offcanvas" data-bs-target="#menu-mobil-canva" role="button" aria-controls="menu-mobil-canva">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#qui-sommes-nous">Qui sommes-nous ? </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/catalogue/#pages-catalogue" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogue
                        </a>
                        <div class="dropdown-menu dropdown-parents" aria-labelledby="dropdownMenuButton">
                            <div class="menu-title">
                                <% type_categories?.forEach(type_categorie => { %>
                                    <div class="title-catalogue">
                                        <h6><%= type_categorie.tyc_libelle %></h6>
                                        <hr>
                                        <ul>
                                            <% type_categorie.Categories.forEach(categorie => { %>
                                                <li><a href="/catalogue/<%=categorie.cat_id %>"><%=categorie.cat_libelle %></a></li>
                                            <% }) %>    
                                        </ul>
                                    </div>
                                <% }) %>
                            </div>
                        </div>

                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/creation/#page-creation">Création</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nouvelleCollection/#nouvelleCollection">Nouvelle collection</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promotion/#page-promotion">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/#page-contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <form class="d-flex flex-row second-search-div" action="/recherche/#page-recherche" method="get">
            <button type="submit" style="border: none; outline:none;background-color:white;">
                <i class="fa-solid fa-magnifying-glass second-glass mt-1"></i>
            </button>
            <div class="form-inline my-2 my-lg-0">
                <input type="text" name="search" placeholder="Rechercher" class="search-input" />
            </div>
        </form>
    </div>
</div>