<div id="page-admin-editProduit">

  <% if (typeof flash != 'undefined') { %>
      <div class="alert alert-<%= flash.type %> alert-dismissible fade show mt-2" role="alert">
        <%= flash.message %>
        <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% } %>
  <!-- <div class="alert alert-success parent-message" role="alert">
    <span style="font-size: 1.4rem; color: #61ce70"
      ><i class="fa fa-check-circle" aria-hidden="true"></i
    ></span>
    <span>Produit modifié avec succès</span>
    <span
      style="font-size: 1.4rem; color: #61ce70; cursor: pointer"
      class="close"
      ><i class="fa fa-times" aria-hidden="true"></i
    ></span>
  </div> -->
    <div class="alert alert-danger parent-message-danger" role="alert">
 
    <span>Remplissez tous les champs requis</span>
    <span
      style="font-size: 1.4rem; color: #ce6861; cursor: pointer"
      class="close-error"
      ><i class="fa fa-times" aria-hidden="true"></i
    ></span>
  </div>
  <div class="product-container row">
    <div class="bloc-left">
      <div class="row">
        <div class="left col-md-6">
          <div class="form-group has-feedback has-feedback-left">
            <label for="">Nom du produit</label>
            <input
              type="text"
              class="form-control pro-libelle"
              placeholder="Saisissez le nom de votre produit"
              value="<%= produit.pro_libelle %>"
              required
            />
            <span
              class="glyphicon glyphicon-info-sign form-control-feedback"
            ></span>
          </div>
          <p class="text">Cette valeur ne doit pas être vide</p>
        </div>
        <div class="col-md-2"></div>
        <div class="bloc-right col-md-4">
          <div>
            <span><i class="fa-solid fa-rectangle-list"></i></span>
            <p>
              <a
                href="/admin/produits"
                style="color: gray; text-decoration: none"
                >Liste des produits</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ref">
            <!-- <div class="title">
                    <h2>Réference</h2>
                    <span><i class="fa-solid fa-circle-info"></i></span>
                  </div> -->
            <div class="form-group has-feedback has-feedback-left">
              <label for="">Référence du produit</label>
              <input
                type="text"
                name="<%= produit.pro_id %>"
                class="form-control pro-ref"
                required
                value="<%= produit.pro_ref %>"
              />
            </div>
              <p
              class="text"
              style="margin-top: 5px; font-size: 14px; color: rgb(204, 67, 67)"
            >
              Cette valeur ne doit pas être vide
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    action="/admin/produits/upload-images"
    method="POST"
    enctype="multipart/form-data"
    class="form-submit-image-edit"
  >
    <div class="tabs-container row">
      <div class="tabs">
        <nav>
          <div class="nav" id="nav-tab" role="tablist">
            <button
              class="nav-link btn-tab-1 active clicked"
              id="nav-essentiel-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-essentiel"
              type="button"
              role="tab"
              aria-controls="nav-essentiel"
              aria-selected="true"
            >
              Essentiels
            </button>
            <button
              class="nav-link btn-tab-2"
              id="nav-quantite-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-quantite"
              type="button"
              role="tab"
              aria-controls="nav-quantite"
              aria-selected="false"
            >
              Quantite
            </button>
            <!-- <button
              class="nav-link btn-tab-3"
              id="nav-livraison-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-livraison"
              type="button"
              role="tab"
              aria-controls="nav-livraison"
              aria-selected="false"
            >
              Livraison
            </button> -->
            <!-- <button
              class="nav-link btn-tab-4"
              id="nav-prix-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-prix"
              type="button"
              role="tab"
              aria-controls="nav-prix"
              aria-selected="false"
            >
              Prix
            </button> -->
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active content-essentiel"
            id="nav-essentiel"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <div class="row img">
              <div class="col-md-12 block-image">
                <div class="images">
                  <div class="item image-add">
                    <label for="file"
                      ><i class="fa fa-plus added" aria-hidden="true"></i
                    ></label>
                    <input
                      type="file"
                      id="file"
                      multiple="multiple"
                      accept="image/*"
                      style="display: none"
                      class="inputfile"
                      name="produit-files"
                    />
                  </div>

                  <% media.forEach(element => { %>
                  <div class="item cover-image">
                    <img src=/images/produits/<%= element.med_ressource %>
                    alt="" srcset="">
                    <% if (element.med_cover===true) { %>
                        <div class="cover">
                          <p>Image couverture</p>
                        </div>
                    <% } %>
                     <% if (element.med_cover===false) { %>
                        <div class="delete-image">
                           <span style="cursor: pointer;" class="btn-delete-image" id="<%= element.med_id%>"><i class="fa fa-trash " aria-hidden="true"></i></span>
                        </div>
                    <% } %>
                    
                  </div>
                  <% }) %>
                  

                  <div class="image-container"></div>
                </div>
                <div>
                  <% media.forEach(element => { %>
                    <% if (element.med_cover===true) { %>
                       <label style="font-size: 0.95rem; cursor: pointer;" for="<%=element.med_id %>">Modfier l'image de couverture</label>
                      <input style="display: none;" name="produit-files" id="<%=element.med_id %>" class="file-cover"
                    accept="image/jpg, image/jpeg, image/gif, image/png" type="file"
                    <% } %>
                    
                  <% }) %>
                 >
                </div>
                <div class="output"></div>
              </div>
              <div class="right col-md-4">
                <!-- <div class="quantity">
                  <div class="title">
                    <h2>Quantité</h2>
                    <span><i class="fa-solid fa-circle-info"></i></span>
                  </div>
                  <div class="form-group has-feedback has-feedback-left">
                    <input type="text" class="form-control" value="0" />
                  </div>
                  <div class="param">
                    <span>Paramètres avancés dans </span>
                    <span
                      ><strong
                        ><i class="fa-solid fa-arrow-up-right-from-square"></i>
                        Quantites</strong
                      ></span
                    >
                  </div>
                </div> -->
              </div>
            </div>

            <div class="row recap">
              <div class="col-md-8 left">
                <div>
                  <p class="title">Récapulatif</p>
                  <div
                    class="content pro-details"
                    contenteditable="true"
                    style="
                      background-color: white;
                      width: 100%;
                      height: 50vh;
                      padding: 5px 8px;
                      outline: none;
                    "
                  >
                    <span style="font-weight: 600"
                      >Quantité initiale : <span> <%= quantiteInitial %></span>
                    </span>
                    <br />
                    <span style="font-weight: 600">Tailles disponibles :</span>

                    <% produit.Quantites.forEach(element => { %>
                    <p><%= element.Taille.tai_libelle %></p>
                    <% }) %>
                  </div>
                  <p class="caractere">1 de 800 caractères autorisées</p>
                </div>
                <div class="description">
                  <p class="title title-desc">Description</p>
                  <div>
                    <!-- <textarea class="content"></textarea> -->

                    <textarea
                      class="pro-description"
                      required
                      style="
                        background-color: white;
                        width: 100%;
                        height: 20vh;
                        padding: 5px 8px;
                        outline: none;
                        border: none;
                      "
                    >
<%= produit.pro_description %></textarea
                    >
                  </div>
                  <p class="caractere">0 de 21844 caractères autorisées</p>
                </div>
              </div>

              <div class="col-md-4 right">
                <div class="price">
                  <div class="title">
                    <h2>Prix</h2>
                    <span><i class="fa-solid fa-circle-info"></i></span>
                  </div>
                  <div class="price-inputs row">
                    <div class="col-md-6">
                      <p>HT</p>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control tar-ht"
                          value="<%= produit.Tarifs[0].tar_ht %>"
                          aria-label="Dollar amount (with dot and two decimal places)"
                        />
                        <span class="input-group-text">€</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p>TTC</p>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control tar-ttc"
                          value="<%= produit.Tarifs[0].tar_ttc %>"
                          aria-label="Dollar amount (with dot and two decimal places)"
                        />
                        <span class="input-group-text">€</span>
                      </div>
                    </div>
                  </div>
                  <div class="regle">
                    <p>Règle de taxe</p>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>FR taux standard (20%)</option>
                    </select>
                  </div>
                  <!-- <div class="param">
                    <span>Paramètres avancés dans </span>
                    <span
                      ><strong
                        ><i class="fa-solid fa-arrow-up-right-from-square"></i>
                        Quantites</strong
                      ></span
                    >
                  </div> -->
                </div>
              </div>
            </div>

            <div class="row caracteristique">
              <div class="right col-md-8">
                <div class="categories">
                  <div class="title">
                    <h2>Type catégorie</h2>
                    <span><i class="fa-solid fa-circle-info"></i></span>
                  </div>

                  <div class="content">
                    <div>
                      <select
                        class="form-select select-categorie"
                        aria-label="Default select example"
                      >
                        <option
                          value="<%= produit.Categorie.Type_categorie.tyc_id %>"
                          selected
                        >
                          <%= produit.Categorie.Type_categorie.tyc_libelle %>
                        </option>
                        <% typeCategories.forEach(element => { %> <% if
                        (element.tyc_id !==
                        produit.Categorie.Type_categorie.tyc_id) { %>
                        <option value="<%= element.tyc_id %>">
                          <%= element.tyc_libelle %>
                        </option>
                        <% } %> <% }) %>
                      </select>
                    </div>
                    <p class="tit-cat">Catégories</p>
                    <div class="accueil">
                      <select
                        class="form-select cat-select"
                        aria-label="Default select example"
                      >
                        <option
                          value="<%= produit.Categorie.cat_id %>"
                          selected
                        >
                          <%= produit.Categorie.cat_libelle %>
                        </option>
                        <% categories.forEach(element => { %> <% if
                        (element.cat_id !== produit.Categorie.cat_id ) { %>
                        <option value="<%= element.cat_id %>">
                          <%= element.cat_libelle %>
                        </option>
                        <% } %> <% }) %>
                      </select>
                    </div>
                  </div>

                  <!-- <div class="add-cat">
                    <div class="title">
                      <h2>Créer une catégorie</h2>
                    </div>
                    <button type="button" class="btn btn-outline-secondary">
                      <span
                        ><i class="fa-solid fa-circle-plus"></i> Créer une
                        catégorie</span
                      >
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="left col-md-4 inputsChecks">
                <div class="title">
                  <p>Autres</p>
                  <span style="color: rgb(41, 144, 228)"
                    ><i class="fa-solid fa-circle-info"></i
                  ></span>
                </div>
                <div class="item-check">
                  <span><i class="fa-solid fa-shirt"></i></span>
                  <div class="form-check">
                  <% if(produit.pro_new_collect === true){ %>
                  <input
                    class="form-check-input pro-new-collect"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    checked
                  />
                  <% } else { %>
                  <input
                    class="form-check-input pro-new-collect"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <% } %>

                  <label class="form-check-label" for="flexCheckDefault">
                    Nouvelle collection
                  </label>
                </div>
                </div>
                <div class="item-check">
                  <span><i class="fa-solid fa-bag-shopping"></i></span>
                  <div class="form-check">
                  <% if(produit.pro_en_avant === true){ %>
                  <input
                    class="form-check-input pro-en-avant"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    checked
                  />
                  <% } else { %>
                  <input
                    class="form-check-input pro-en-avant"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <% } %>
                  <label class="form-check-label" for="flexCheckDefault">
                    En avant
                  </label>
                </div>
                </div>
                <div class="item-check">
                  <span> <i class="fa-solid fa-toggle-on"></i></span>
                  <div class="form-check">
                  <% if(produit.pro_statut === true){ %>
                  <input
                    class="form-check-input pro-statut"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    checked
                  />
                  <% } else { %>
                  <input
                    class="form-check-input pro-statut"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <% } %>

                  <label class="form-check-label" for="flexCheckDefault">
                    Actif
                  </label>
                </div>
                </div>
              </div>

              <div class="left col-md-4"></div>
            </div>
          </div>

          <div
            class="tab-pane fade content-quantite"
            id="nav-quantite"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            <p class="title">Quantités</p>
            <div class="row qty">
              <div class="left col-md-8 col-sm-12">
                <div class="lines">
                  <div class="row">
                    <div class="col-md-5"><p>Taille</p></div>
                    <div class="col-md-5"><p>Quantité</p></div>
                    <div class="col-md-2"></div>
                  </div>
                  <% produit.Quantites.forEach(element => { %>
                  <div class="quantity row">
                    <div class="col-md-5 qty-left">
                      <div class="form-group">
                        <select
                          class="form-select select-taille-exist"
                          aria-label="Default select example"
                        >
                          <option value="<%= element.Taille.tai_id %>" selected>
                            <%= element.Taille.tai_libelle %>
                          </option>
                          <% tailles.forEach(taille => { %> <% if (taille.tai_id
                          !== element.Taille.tai_id) { %>
                          <option value="<%= taille.tai_id %>">
                            <%= taille.tai_libelle %>
                          </option>

                          <% } %> <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5 qty-right">
                      <div class="title-qty"></div>
                      <div class="form-group">
                        <input
                          type="number"
                          name="<%= element.qua_id %>"
                          value="<%= element.qua_nbre %>"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="col-md-2 delete">
                      <span><i class="fa-solid fa-trash"></i></span>
                    </div>
                  </div>
                  <% }) %>
                </div>
                <div class="add-cat">
                  <div class="title">
                    <p>Ajouter une quantité</p>
                  </div>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-add-taille"
                  >
                    <span
                      ><i class="fa-solid fa-circle-plus"></i> Ajouter une
                      quantité</span
                    >
                  </button>
                </div>
              </div>
              <div class="right col-md-4">
                <div class="qty-right">
                  <div class="title-qty">
                    <p>Quantité maximale</p>
                    <!-- <span><i class="fa-solid fa-circle-info"></i></span> -->
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      value="<%= quantiteInitial %>"
                      class="form-control qty-max"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="stock">
              <h3 class="title">Stock</h3>
              <div class="emplacement">
                <p>Emplacement du stock</p>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="niveau">
                <p>Niveau de stock bas</p>
                <div class="row">
                  <div class="col-md-5 input">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Laissez vide pour désactiver"
                    />
                  </div>

                  <div class="form-check col-md-7">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                    />
                    <label class="form-check-label" for="flexCheckChecked"
                      >M'envoyer un email quand la quantite est en dessous ou
                      égal à ce niveau
                      <span><i class="fa-solid fa-circle-info"></i></span
                    ></label>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- <div class="preferences">
              <p class="title">Préférences de disponibilité</p>
              <p>Comportement si rupture de stock</p>
              <div class="radios">
                <div>
                  <input type="radio" id="refus" name="rupture" checked />
                  <label for="refus">Refuser les commandes</label>
                </div>

                <div>
                  <input
                    type="radio"
                    id="accapt"
                    name="rupture"
                    value="dewey"
                  />
                  <label for="accapt">Accepter les commandes</label>
                </div>

                <div>
                  <input
                    type="radio"
                    id="default"
                    name="rupture"
                    value="louie"
                  />
                  <label for="default"
                    >Utiliser le comportement par défaut</label
                  >
                </div>
              </div>
              <div class="row inputs">
                <div class="col-md-4">
                  <p>Libellé si en stcock</p>
                  <div class="form-group">
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-4">
                  <p>Si rupture de stock</p>
                  <div class="form-group">
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-4">
                  <p>Date de disponibilité</p>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="YYYY-MM-DD"
                    />
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <!-- <div
            class="tab-pane fade content-livraison"
            id="nav-livraison"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            <p class="title">Dimensions du paquet</p>
            <p class="tit">
              Ajustez vos frais de livraison en renseignant les dimensions du
              produit
            </p>
            <div class="row dimensions">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-3">
                    <p>Largeur</p>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        value="0"
                        aria-label="Dollar amount (with dot and two decimal places)"
                      />
                      <span class="input-group-text">cm</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p>Hauteur</p>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        value="0"
                        aria-label="Dollar amount (with dot and two decimal places)"
                      />
                      <span class="input-group-text">cm</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p>Profondeur</p>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        value="0"
                        aria-label="Dollar amount (with dot and two decimal places)"
                      />
                      <span class="input-group-text">cm</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p>Poids</p>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        value="0"
                        aria-label="Dollar amount (with dot and two decimal places)"
                      />
                      <span class="input-group-text">kg</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="delai">
              <div class="titles">
                <p class="title">Delai de livraison</p>
                <span><i class="fa-solid fa-circle-info"></i></span>
              </div>
              <div class="radios">
                <div>
                  <input type="radio" id="aucun" name="delai" checked />
                  <label for="aucun">Aucun</label>
                </div>

                <div>
                  <input type="radio" id="default" name="delai" value="dewey" />
                  <label for="default">Delai de livraison par defaut</label>
                </div>

                <div>
                  <input type="radio" id="produit" name="delai" value="louie" />
                  <label for="produit"
                    >Delai de livraison spécifique pour ce produit</label
                  >
                </div>
              </div>
              <div class="row liv">
                <div class="col-md-6 block">
                  <p>Delai de livraison pour les produits en stock :</p>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Livraison entre 3 et 4 jours"
                    />
                  </div>
                  <span>Laisser vide pour désactiver</span>
                </div>
                <div class="col-md-6 block">
                  <p>Delai de livraison pour les produits en stock :</p>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Livraison entre 5 et 7 jours"
                    />
                  </div>
                  <span>Laisser vide pour désactiver</span>
                </div>
              </div>
              <div class="frais-livraison">
                <div class="titles">
                  <p class="title">Frais de livraison</p>
                  <span><i class="fa-solid fa-circle-info"></i></span>
                </div>
                <p>
                  Des frais de transports additionnels s'appliquent-ils à ce
                  produit ?
                </p>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    value="0,000000"
                    aria-label="Dollar amount (with dot and two decimal places)"
                  />
                  <span class="input-group-text">€</span>
                </div>
              </div>
            </div>
            <div class="transporteur">
              <p class="title">Transporteurs disponibles</p>
              <div class="checks">
                <div>
                  <input type="checkbox" name="my-checkbox" id="opt-in" />
                  <label for="opt-in"
                    >21 - Retrait dans nos locaux AES (je viendrai prendre le
                    colis d'essayage et les costumes pour mon spectacle dans vos
                    locaux.)</label
                  >
                </div>
                <div>
                  <input type="checkbox" name="my-checkbox" id="opt-in" />
                  <label for="opt-in"
                    >22 - Retrait dans nos locaux AES (je viendrai prendre le
                    colis d'essayage et les costumes pour mon spectacle dans vos
                    locaux.)</label
                  >
                </div>
                <div>
                  <input type="checkbox" name="my-checkbox" id="opt-in" />
                  <label for="opt-in"
                    >15 - Essayage en livraison/Spectacle chez AES (je souhaite
                    la livraison du clis d'essayage à domicile et je viendrais
                    chercher les</label
                  >
                </div>
              </div>
            </div>
            <div class="message pt-4">
              <p>
                <span
                  ><i
                    class="fa fa-exclamation-triangle danger"
                    aria-hidden="true"
                  ></i
                ></span>
                Si aucun transporteur n'est sélectionné alors tous les
                transporteurs seront considérés comme disponibles pour les
                clients.
              </p>
            </div>
          </div> -->

          <!-- <div
            class="tab-pane fade content-prix"
            id="nav-prix"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            <div class="titles">
              <p class="title">Delai de livraison</p>
              <span><i class="fa-solid fa-circle-info"></i></span>
            </div>

            <div class="row prices">
              <div class="col-md-6 left">
                <div class="left-ht">
                  <p>Prix de vente (HT)</p>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="0,000000"
                      aria-label="Dollar amount (with dot and two decimal places)"
                    />
                    <span class="input-group-text">€</span>
                  </div>
                </div>
                <div class="left-ttc">
                  <p>Prix de vente (HT)</p>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="0"
                      aria-label="Dollar amount (with dot and two decimal places)"
                    />
                    <span class="input-group-text">€</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 right">
                <div class="title">
                  <p>Prix de vente unitaire (HT)</p>
                  <span><i class="fa-solid fa-circle-info"></i></span>
                </div>
                <div class="inputs">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="0,000000"
                      aria-label="Dollar amount (with dot and two decimal places)"
                    />
                    <span class="input-group-text">€</span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Par kilo, par litre"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="taxe">
              <div class="regle-param">
                <p>Règle de taxe</p>
                <div class="regle">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>FR taux standard (20%)</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="param">
                    <span
                      ><i class="fa-solid fa-arrow-up-right-from-square"></i>
                      Gérer les règles de taxe</span
                    >
                  </div>
                </div>
              </div>
              <div>
                <input type="radio" id="promo" name="promo" value="promo" />
                <label for="promo"
                  >Afficher un bandeau "Promo !" sur la fiche produit et sur les
                  listes de produits</label
                >
              </div>
              <div class="alerte">
                <span><i class="fa-solid fa-circle-info"></i></span>
                <p>
                  Prix de vente final : <strong>0,00 € TTC</strong> / 0,00 €
                </p>
              </div>
            </div>

            <div class="prix">
              <div class="top">
                <div class="titles">
                  <p class="title">Prix d'achat</p>
                  <span><i class="fa-solid fa-circle-info"></i></span>
                </div>
                <div class="left-ht">
                  <p>Prix d'achat (HT)</p>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="0,000000"
                      aria-label="Dollar amount (with dot and two decimal places)"
                    />
                    <span class="input-group-text">€</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <div class="titles">
                  <p class="title">Prix spéifiques</p>
                  <span><i class="fa-solid fa-circle-info"></i></span>
                </div>
                <div class="add-cat">
                  <button type="button" class="btn btn-outline-primary">
                    <span
                      ><i class="fa-solid fa-circle-plus"></i> Ajouter un
                      produit specifique</span
                    >
                  </button>
                </div>
              </div>
            </div>

            <div class="priorites">
              <div class="titles">
                <p class="title">Gestion des priorités</p>
                <span><i class="fa-solid fa-circle-info"></i></span>
              </div>
              <div>
                <span>Priorités</span>
                <div class="row">
                  <div class="col-md-3">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Boutique</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Devise</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Pays</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Groupe</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <!-- <div class="tabs-right col-md-4"></div> -->
      </div>
    </div>
    <div class="navbar">
      <div class="buttons">
        <div>
          <button type="button" class="btn btn-secondary">Previsualiser</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary update">Modifier</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/javascripts/admin/editProduit.js"></script>
