<%- include('../blocs/produitHeader') %>

<div id="admin-page-produits">
  <table class="table table-striped table-fixed">
    <thead>
      <tr style="margin-bottom: 0; border-bottom: white">
        <th scope="col"></th>
        <th scope="col" class="">ID</th>
        <th scope="col" class="">Image</th>
        <th scope="col" class="reference">Référence</th>
        <th scope="col" class="w-25">Nom</th>
        <th scope="col" class="w-20">Catégorie</th>
        <th scope="col" class="text-center">Prix HT</th>
        <th scope="col" class="text-center">Prix TTC</th>
        <th scope="col" class="text-center">Quantité</th>
        <th scope="col" class="text-center">Actions</th>
        <th scope="col"></th>
      </tr>
      <tr
        class="research-line"
        style="margin-top: 0; background-color: white; border-bottom: white"
      >
        <form action="/admin/produits/search" method="get">
          <td></td>
          <td></td>
          <td></td>
          <td class="reference">
            <input class="research" name="ref" value="<%= (typeof ref !==
            "undefined") ? ref:'' %>" type="text" placeholder="référence" >
          </td>
          <td>
            <input class="research" name="libelle" value="<%= (typeof libelle
            !== "undefined") ? libelle:'' %>" type="text" placeholder="nom"
            >
          </td>
          <td>
            <select class="research" name="cat">
              <option value="<%= (typeof cat
                !== "undefined") ? cat:'' %>"> <%= (typeof cat
                !== "undefined") ? cat:'choisir' %> </option>
              <% categorie.forEach(element => { %>
                  <option value="<%= element.cat_libelle %>">
                    <%= element.cat_libelle %>
                      </option>
                    <% }) %>
            </select>
          </td>
          <td class="plage">
            <input class="research" name="tarHtUp" value="<%= (typeof tarHtUp
            !== "undefined") ? tarHtUp:'' %>" type="number" placeholder="min">
            <input class="research" name="tarHtDown" value="<%= (typeof
            tarHtDown !== "undefined") ? tarHtDown:'' %>" type="number"
            placeholder="max">
          </td>
          <td class="plage-ttc"></td>
          <td class="plage">
            <input class="research" name="qtyUp" value="<%= (typeof qtyUp !==
            "undefined") ? qtyUp:'' %>" type="text" placeholder="min"> <input
            class="research" name="qtydDown" value="<%= (typeof qtydDown !==
            "undefined") ? qtydDown:'' %>" type="text" placeholder="max">
          </td>
          <td>
            <button type="submit" class="btn btn-info">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span>Rechercher</span>
            </button>
          </td>
          <td></td>
        </form>
      </tr>
    </thead>
    <tbody>
      <% if ((typeof produits !== 'undefined') && produits.length > 0) { %> <%
      produits.forEach(element => { %>
      <tr>
        <td></td>
        <th scope="row"><%= element.pro_id %></th>

        <td width="60">
          <img
            src="/images/produits/<%= element.Media[0]?.med_ressource %>"
            alt=""
            class="img-fluid w-100 h-25 img-content"
          />
        </td>
        <td class="reference"><%= element.pro_ref %></td>
        <td class="w-25"><%= element.pro_libelle %></td>
        <td class="w-20"><%= element.Categorie.cat_libelle %></td>
        <td class="text-center">
          <%= element.Tarifs[0]?.tar_ht.toFixed(2).toString().replace(".",
          ",")%> €
        </td>
        <td class="text-center">
          <%= element.Tarifs[0]?.tar_ttc.toFixed(2).toString().replace(".",
          ",")%> €
        </td>
        <td class="text-center">
          <%= quantiteOfEachProduct.find(item => item.id ===
          element.pro_id)?.qty ? quantiteOfEachProduct.find(item => item.id ===
          element.pro_id)?.qty : "non renseignée" %>
        </td>
        <td class="text-center">
          <div class="d-flex justify-content-center gap-4">
            <a href="/admin/produits/<%= element.pro_id %>">
              <i class="fa-solid fa-pen"></i
            ></a>
            <div class="form-check form-switch">
              <input class="form-check-input inputActivation pro-statut"
              data-id="<%= element.pro_id %>" type="checkbox" name="<%=
              element.pro_id %>" value="" <%= element.pro_statut ? "checked" :""
              %> />
            </div>
          </div>
        </td>
        <td></td>
      </tr>
      <% }) %> <% }else { %>
      <div class="alert alert-primary" role="alert">
        Il n'y a aucun coproduitmande dans votre base des données pour
        l'instant.
      </div>
      <% } %>
    </tbody>
  </table>
  <div class="cat-pagination">
    <% if (nbrPages > 1) { %>
    <div class="row affichage">
      <p>
        Affichage <span><%= start %> - <%= end %></span> de
        <span><%= produitsNbr%></span>
      </p>
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item nav-item">
          <a
            class="page-link nav-link <%= pageActive === 1 ? 'active' : '' %>"
            href="<%= checkSearch === false ? '/admin/produits/?&page=1' : `/admin/produits/search/?&page=1&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="1"
            >1</a
          >
        </li>
        <% if (pageActive === 1 || pageActive ===2) { %>
        <li class="page-item nav-item">
          <a
            class="page-link nav-link <%= pageActive === 2 ? 'active' : '' %>"
            href="<%= checkSearch === false ? '/admin/produits/?&page=2' : `/admin/produits/search/?&page=2&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="2"
            >2</a
          >
        </li>
        <li class="page-item nav-item">
          <a
            class="page-link nav-link <%= pageActive === 3 ? 'active' : '' %>"
            href="<%= checkSearch === false ? '/admin/produits/?&page=3' : `/admin/produits/search/?&page=3&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="3"
            >3</a
          >
        </li>
        <% } else if (pageActive !== nbrPages && pageActive !== nbrPages-1) { %>
        <li class="page-item nav-item">
          <a
            class="page-link nav-link <%= pageActive === (pageActive - 1) ? 'active' : '' %>"
            href="<%= checkSearch === false ? `/admin/produits/?&page=${pageActive -1}` : `/admin/produits/search/?&page=${pageActive -1}&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="<%= pageActive -1 %>"
            ><%= pageActive-1 %></a
          >
        </li>
        <li
          class="page-item nav-item <%= pageActive === pageActive ? 'active' : '' %>"
        >
          <a
            class="page-link nav-link navbar-brand"
            href="<%= checkSearch === false ? `/admin/produits/?&page=${pageActive}` : `/admin/produits/search/?&page=${pageActive}&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="<%= pageActive+1 %>"
            ><%= pageActive %></a
          >
        </li>
        <li
          class="page-item nav-item <%= pageActive === (pageActive + 1) ? 'active' : '' %>"
        >
          <a
            class="page-link nav-link"
            href="<%= checkSearch === false ? `/admin/produits/?&page=${pageActive + 1}` : `/admin/produits/search/?&page=${pageActive + 1}&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="<%= pageActive+1 %>"
            ><%= pageActive+1 %></a
          >
        </li>
        <li
          class="page-item nav-item <%= pageActive === (pageActive + 2) ? 'active' : '' %>"
        >
          <a
            class="page-link nav-link"
            href="<%= checkSearch === false ? `/admin/produits/?&page=${pageActive + 2}` : `/admin/produits/search/?&page=${pageActive + 2}&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="<%= pageActive+1 %>"
            ><%= pageActive+2 %></a
          >
        </li>
        <li class="page-item nav-item">...</li>
        <% } %>
        <li
          class="page-item nav-item <%= pageActive === nbrPages ? 'active' : '' %>"
        >
          <a
            class="page-link nav-link"
            href="<%= checkSearch === false ? `/admin/produits/?&page=${nbrPages}` : `/admin/produits/search/?&page=${nbrPages}&ref=${ref}&libelle=${libelle}&cat=${cat}&tarHtUp=${tarHtUp}&tarHtDown=${tarHtDown}&qtyUp=${qtyUp}&qtydDown=${qtydDown}` %>"
            id="<%= pageActive+1 %>"
            ><%= nbrPages %></a
          >
        </li>
      </ul>
    </nav>

    <% } %>
  </div>
</div>

<script src="/javascripts/admin/produit.js"></script>
