<%- include('../blocs/produitHeader') %>
<div id="admin-page-produits">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Référence</th>
        <th scope="col">Categorie</th>
        <th scope="col">Montant HT</th>
        <th scope="col">Montant TTC</th>
        <th scope="col">Quantité</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% produits.forEach(element => { %>
      <tr>
        <td scope="row">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </td>
        <th scope="row"><%= element.pro_id %></th>

        <td width="60">
          <img
            src="/images/produits/<%= element.Media[0].med_ressource %>"
            alt=""
            class="img-fluid w-100 h-25 img-content"
          />
        </td>
        <td><%= element.pro_libelle %></td>
        <td><%= element.pro_ref %></td>
        <td><%= element.Categorie.cat_libelle %></td>
        <td>3</td>
        <td><%= element.Tarifs[0].tar_ht.toFixed(2) %> €</td>
        <td><%= element.Tarifs[0].tar_ttc.toFixed(2) %> €</td>
        <td>
          <i  class="fa-solid fa-pen"></i>
          <div  class="dropdown">
            <i
              class="fa-solid dropdown-toggle fa-ellipsis-vertical"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></i>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="fa-solid fa-magnifying-glass"></i> Rechercher</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="fa-solid fa-eye"></i> Prévisualiser</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="fa-solid fa-trash"></i> Supprimer</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
