<div id="nouvelleCollection">
  <div class="group-catalogue">
    <div class="title">
      <a href="/">Home</a>
      <p style="color: gray">/ New collection</p>
    </div>
    <div class="list">
      <div class="border"></div>
      <div class="list-body">
        <p>New collection</p>
      </div>
      <div class="border"></div>
    </div>
  </div>
  <div class="catalogue">
    <div class="cat-title">
      <h2> CATEGORY: 
        <span>NEW COLLECTION</span>
      </h2>
    </div>
    <div class="cat-filter">
      <p>There is <span><%= nouveauProduits.length%></span> products.</p>

      <div class="filter">
        <label for="">Sort by : </label>
        <div class="input" id="input">
          <span id="choix"><%= choix ? choix : "Choose" %></span>
          <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
          <div class="content content-hide" id="content">
            <ul>
              <!-- <a href="/nouvelleCollection"> <li class="item-choice">Pertinente</li></a> -->
              <a href="/nouvelleCollection/?orderby=AàZ"><li class="item-choice">Name, A à Z</li></a>
              <a href="/nouvelleCollection/?orderby=ZàA"><li class="item-choice">Name, Z à A</li></a>
              <a href="/nouvelleCollection/?orderby=PC"> <li class="item-choice">Price, croissant</li></a>
              <a href="/nouvelleCollection/?orderby=PD"><li class="item-choice">Price, decreasing</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-body">
      <% produits.forEach(produit => { %>
      <div class="produit">
        <div class="image-cadre">
          <a href="/article/<%= produit.pro_id %>">
            <img
              src="/images/produits/<%= produit.Media[0].med_ressource %>"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="bar"></div>
        <div class="detail">
          <a href="/article/<%= produit.pro_id %>">
            <%= produit.pro_libelle%></a
          >
          <div>Ref: <span><%= produit.pro_ref %></span></div>
          <div class="quantite"><span>  <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty > 1 ? "articles" : "article" %></div>
          <div class="montant">
            <div><%= produit.Tarifs[0].tar_ttc.toFixed(2).toString()  %>  $</div>
            <span>|</span>
            <button
              class="button-ajouter"
              data-id="<%= produit.pro_id %>"
              data-bs-toggle="modal"
              data-bs-target="#parent_modal"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="cat-pagination">
      <% if (nbrPages>1) { %>
      <div>
        <p>
          Affichage <span> <%= start %> - <%= end %></span> de
          <span><%= nouveauProduits.length %></span>
        </p>
      </div>
      <nav>
        <ul class="pagination">
          <% for( let i = 1; i <= nbrPages; i++ ) { %>
          <li class="page-item">
            <a
              class="page-link <%= pageActive === i ? 'active' : '' %>"
              href="/nouvelleCollection?page=<%= i %>&orderby=<%= orderby %>#nouvelleCollection"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>
  </div>
</div>
<script src="/javascripts/nouvelleCollection.js"></script>
