<div id="admin-blocs-produitHeader">
  <div class="produit-menu pt-3">
    <h1>Tailles</h1>
    <div class="produit-menu-btn">
      <a href="/admin/tailles/add">
        <button type="button" class="btn btn-info">
          <i class="fa-solid fa-circle-plus"></i> Ajouter une nouvelle taille
        </button>
      </a>
    </div>
  </div>
</div>
<div class="taille-content mt-4">
  <div class="p-4 pb-0">
    <h6>Gérer les tailles</h6>
  </div>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Ordre</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% tailles.forEach(element => { %>
      <tr>
        <td scope="row">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
        </td>
        <th scope="row"><%= element.tai_id %></th>

        <td><%= element.tai_libelle %></td>
        <td><%= element.tai_ordre %></td>
        <td>
          <div class="d-flex gap-4">
            <form method="get" action="/admin/tailles/update/?tai_id">
              <input
                type="hidden"
                name="tai_id"
                value="<%= element.tai_id %>"
              />
              <button class="dropdown-item" type="submit">
                <i class="fa-solid fa-pen"></i>
              </button>
            </form>
            <a class="dropdown-item" href="#"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<div class="cat-pagination">
  <% if (nbrPages > 1) { %>
  <div class="row affichage">
    <p>
      Affichage <span><%= start %> - <%= end %></span> de
      <span><%= taillesNbr%></span>
    </p>
  </div>
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=1">1</a>
      </li>
      <% if (pageActive === 1 || pageActive ===2) { %>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=2">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=3">3</a>
      </li>
      <% } else if (pageActive !== nbrPages && pageActive !== nbrPages-1) { %>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=<%= pageActive -1 %>"
          ><%= pageActive-1 %></a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=<%= pageActive %>"
          ><%= pageActive %></a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=<%= pageActive+1 %>"
          ><%= pageActive+1 %></a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=<%= pageActive+2 %>"
          ><%= pageActive+2 %></a
        >
      </li>
      <li class="page-item">...</li>
      <% } %>
      <li class="page-item">
        <a class="page-link" href="/admin/tailles/?&page=<%= nbrPages %>"
          ><%= nbrPages %></a
        >
      </li>
    </ul>
  </nav>

  <% } %>
</div>
