<div id="admin-blocs-produitHeader" class="border-bottom">
  <h6>Promo</h6>
  <div class="produit-menu">
    <h4>Gérer vos promos</h4>
    <div class="produit-menu-btn">
      <button type="button" class="btn btn-info">
        <a href="/admin/promo/add">
          <i class="fa-solid fa-circle-plus"></i> Ajouter un nouveau code
          promo</a
        >
      </button>
      <button type="button" class="btn btn-outline-secondary">Aide</button>
    </div>
  </div>
</div>
<div class="d-flex mt-4 p-2 menu-bar rounded">
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-user fa-2xl"></i>
    <div>
      <p>
        Clients <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-dollar-sign fa-2xl"></i>
    <div>
      <p>
        Réduction <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-bag-shopping fa-2xl"></i>
    <div>
      <p>
        Commandes & reduction<br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center pt-3 gap-2 w-25">
    <i class="fa-solid fa-money-check-dollar fa-2xl"></i>
    <div>
      <p>
        Essayez le code promo <br />
        <span>TOUT TEMPS</span>
      </p>
    </div>
  </div>
</div>
<div id="admin-page-promo">
  <div class="promo-content mt-3">
    <div class="d-flex justify-content-between p-3 pb-0">
      <h6>Gérez vos promos</h6>
      <i class="fa-solid fa-gear"></i>
    </div>
    <hr />
    <table class="table mt-4 table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Code promo</th>
          <th scope="col">Pourcentage</th>
          <th scope="col">Valeur</th>
          <th scope="col">Date debut</th>
          <th scope="col">Date fin</th>
          <th scope="col">status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if ((typeof promos !== 'undefined') && promos.length > 0) { %> <%
        promos.forEach(element => { %>
        <tr>
          <td scope="row">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
          </td>
          <th scope="row"><%= element.prm_id %></th>
          <td><%= element.prm_code %></td>
          <td><%= element.prm_pourcent %></td>
          <td><%= element.prm_valeur %></td>
          <td><%= element.prm_debut%></td>
          <td><%= element.prm_fin%></td>
          <td>
            <% if (element.prm_actif) { %>

            <span class="badge text-bg-success">activé</span>
            <% } else { %>

            <span class="badge text-bg-danger">inactif</span>
            <% } %>
          </td>
          <td>
            <div class="d-flex gap-4">
              <form method="get" action="/admin/clients/update/?cli_id">
                <input
                  type="hidden"
                  name="cli_id"
                  value="<%= element.cli_id %>"
                />
                <button class="dropdown-item" type="submit">
                  <i class="fa-solid fa-pen"></i>
                </button>
              </form>

              <div class="dropdown">
                <i
                  class="fa-solid dropdown-toggle fa-ellipsis-vertical"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      ><i class="fa-solid fa-magnifying-glass"></i> Afficher</a
                    >
                  </li>
                  <li>
                    <form method="post" action="/admin/promo/delete">
                      <input
                        type="hidden"
                        name="prm_id"
                        value="<%= element.prm_id %>"
                      />
                      <button class="dropdown-item" type="submit">
                        <i class="fa-solid fa-trash"></i> Supprimer
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <% }) %> <% }else { %>
        <div class="alert alert-primary" role="alert">
          Il n'y a aucun code promo dans votre base des données pour l'instant.
        </div>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
