<div id="page-panier">
  <div class="row panier-content">
    <div class="panier-details col-lg-8 col-xs-12">
      <div class="title">
        <h1>Basket</h1>
      </div>
      <hr />
      <p id="empty-product-kart">There are no more items in your cart</p>
      <div class="comment">
        <img class="mx-auto  kart-loader" src="/images/loader.gif" alt=""  />
        <!-- ICI SUPP -->
        <!-- <div class="articles row">
          <div class="col-md-1 col-sm-1 col-1 id">MEP26A</div>
          <div class="col-md-3 col-sm-4 col-4 image">
            <span
              ><img src="/images/enfant1.jpg" class="img-fluid" alt=""
            /></span>
          </div>
          <div class="col-md-3 col-sm-7 col-7 description">
            <div class="desc">
              <a href="">MEP26A - <span>Ensemble pantalon rose</span></a>
            </div>
            <div class="price"><p><span>10,00 €</span></p></div>
          </div>
          <div class="col-md-5 col-sm-12 col-12 prices">
            <div class="row">
              <div class="hidden col-sm-4 col-3"></div>
              <div class="col-md-10 col-sm-6 col-7 block-price">
                <div class="row compteur">
                  <div class="col-md-6 col-sm-6 col-6 qty-btn">
                    <input type="text" class="number-value" value="1" />
                    <div class="btns">
                      <button class="btn-up">
                        <span><i class="fa-solid fa-chevron-up"></i></span>
                      </button>
                      <button class="btn-down">
                        <span><i class="fa-solid fa-chevron-down"></i></span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-6 prx">
                    <span>10,00 €</span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 col-2 delete">
                <span><i class="fa-solid fa-trash"></i></span>
              </div>
            </div>
          </div>
        </div> -->

        <!--   ICI REPRENDS-->
        <a href="#"
          ><span class="icon"><i class="fa-solid fa-chevron-left"></i></span
          ><span class="link">Container my purchases</span></a
        >
      </div>
    </div>
    <div class="panier-price col-lg-4 col-xs-12">
      <img class="mx-auto  kart-loader" src="/images/loader.gif" alt="" srcset="" />
      <!-- <div class="frais">
        <div class="item">
          <span class="title">2 articles</span>
          <span class="price">18,0 €</span>
        </div>
        <div class="item">
          <span class="title">Livraisons</span>
          <span class="price">3,00 €</span>
        </div>
        <div class="item">
          <span class="title">Frais de dossier</span>
          <span class="price">15,00 €</span>
        </div>
      </div>
      <hr />
      <div class="item total">
        <span>TTC</span>
        <span>15,00 €</span>
      </div>
      <div class="promo">
        <div class="link">
          <p class="btnpromo"><span>Vous avez un code promo ?</span></p>
        </div>
        <div class="hide-promo promo_block">
          <div class="btn-promo">
            <input type="text" placeholder="Code promo" />
            <button>Ajouter</button>
          </div>
          <p class="fermer">Fermer</p>
        </div>
      </div>
      <a href="/commander/#page-commander" class="button">
        <button class="enable">Finaliser le Devis</button>
      </a> -->
    </div>
  </div>

  <div class="products">
    <div class="title"><h2>POPULAR PRODUCTS</h2></div>
    <div class="row">
      <% produitsPopulaires.forEach(element => { %>
      <div class="item col-sm-6 col-md-6 col-xl-4">
        <div class="image">
          <a href="/article/<%= element.pro_id %>"
            ><img
              src="/images/produits/<%= element.Media[0].med_ressource %>"
              class="img-fluid"
              alt=""
          /></a>
        </div>
        <div class="details">
          <p class="desc">
            <a href="#"><span><%= element.pro_libelle %></span></a>
          </p>
          <p class="ref">Ref: <%= element.pro_ref %></p>
          <div class="quantite"><span><%= quantiteOfEachProduct.find(item => item.id === element.pro_id).qty ? quantiteOfEachProduct.find(item => item.id === element.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(item => item.id === element.pro_id).qty > 1 ? "articles" : "article" %></div>
          <div>
            <p class="price"><%= element.Tarifs[0].tar_ttc.toFixed(2) %> €</p>
            <p class="bar">|</p>
            <p
              class="price btn button-ajouter"
              data-bs-toggle="modal"
              data-id="<%= element.pro_id %>"
              data-bs-target="#parent_modal"
            >
              Add
            </p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="btns">
    <a href="/catalogue">See more</a>
  </div>
</div>
<script src="/javascripts/panier.js"></script>
