<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body class="p-3">
    <div class="text-center pt-3">
      <img src="/images/logo.png" class="img-fluid" alt="" srcset="" />
      <h3>Etat descriptif des costumes et accessoires</h3>
      <h3>au contrat de prêt pour essayage</h3>
      <h4 class="fw-light pt-2">N° <%= document.doc_ref %></h4>
    </div>
    <div class="p-5">
      <p>
        <span class="fw-bold">Date du spectacle : </span> <%=
        moment(commande.com_debut_spectacle).format('DD/MM/YYYY') %>
      </p>
      <!-- <p>
        <span class="fw-bold">Nom et Prénom du professeur :</span> Eric Guermah
      </p> -->
      <p><span class="fw-bold">Structure :</span> <%= adresse.adr_adresse %></p>
      <p><span class="fw-bold">Tél : </span> <%= adresse.adr_phone %></p>
      <p class="text-justify pt-3 fw-normal lh-base">
        L’état des costumes et accessoires qui vous sont livrés dans le cadre du
        contrat de prêt pour essayage a été méticuleusement vérifié. Nous vous
        remercions d’en prendre le plus grand soin et de vous conformer au
        règlement inclus dans le contrat de prêt que vous avez signé.
      </p>
      <p class="fw-normal text-justify lh-base pt-3">
        <span class="fw-bold"
          >Vous avez une semaine pour essayer les costumes à compter de la date
          de réception</span
        >
        du ou des colis. N’hésitez pas à nous contacter au 06 14 28 99 81
        (Delphine pour les costumes) ou 06 11 51 84 16 (Eric Pour le Web et
        l’administration)
      </p>
    </div>
    <div class="p-5 pt-0">
      <h4>Costumes</h4>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="bg-secondary text-white">Réference</th>
            <th scope="col" class="bg-secondary text-white">Désignation</th>
            <th scope="col" class="bg-secondary text-white">
              Tailles stock initial
            </th>
            <th scope="col" class="bg-secondary text-white">
              Stock restant - remarque
            </th>
          </tr>
        </thead>
        <tbody>
          <% panierDetails.forEach(panierDetail => { %>
          <tr>
            <td><%= panierDetail.Produit.pro_ref %></td>
            <td><%= panierDetail.Produit.pro_libelle %></td>
            <td>
              <div class="d-flex flex-column pt-4">
                <% panierDetails[0].Produit.Quantites.forEach(quantite => { %>

                <p>
                  <%= quantite.qua_nbre %> en <%= quantite.Taille.tai_libelle %>
                </p>
                <% }) %>
              </div>
            </td>
            <td></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div class="p-5 pt-0 d-flex justify-content-between">
      <h5 class="fw-light">AES : 06 14 28 99 81</h5>
      <div class="text-end">
        <h5 class="fw-light">
          CLIENT : <%= client.cli_nom %> <%= client.cli_prenom %>
        </h5>
        <h5 class="fw-light">
          DATE : <%= moment(new Date(new Date().setDate(new Date().getDate()))
          ).format('DD/MM/YYYY') %>
        </h5>
      </div>
    </div>
    <div class="p-5 pt-0">
      <h4>FICHE CLIENT</h4>
      <h5 class="text-center pt-4 w-75 m-auto">
        MERCI DE REMPLIR CE BON DE COMMANDE À L’AIDE DES TABLEAUX DE STOCKS QUE
        VOUS TROUVEREZ DANS LES SACS DE COSTUMES.
      </h5>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="bg-secondary text-white">Réference</th>
            <th scope="col" class="bg-secondary text-white">Désignation</th>
            <th scope="col" class="bg-secondary text-white">POUR ESSAYAGE</th>
            <th scope="col" class="bg-secondary text-white">
              VOTRE COMMANDE - PRÉCISIONS ET REMARQUES
            </th>
          </tr>
        </thead>
        <tbody>
          <% panierDetails.forEach(panierDetail => { %>
          <tr>
            <td><%= panierDetail.Produit.pro_ref %></td>
            <td><%= panierDetail.Produit.pro_libelle %></td>
            <td></td>
            <td>
              <div class="d-flex flex-column pt-4">
                <% panierDetails[0].Produit.Quantites.forEach(quantite => { %>

                <p><%= quantite.Taille.tai_libelle %> :</p>
                <% }) %>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
            <td class="text-center p-2">Nombre total :</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
