<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #page-devis {
	 width: 95%;
	 margin: auto;
}
 #page-devis .logo-dates {
	 display: flex;
	 justify-content: space-between;
}
 #page-devis .logo-dates .bordure {
	 border: 1px solid green;
}
 #page-devis .adresses {
	 display: flex;
	 margin-top: 50px;
}
 #page-devis .adresses ul {
	 list-style: none;
}
 #page-devis .adresses .facturation {
	 margin-left: 30%;
}
 #page-devis .table-detail {
	 text-align: center;
}
 #page-devis .tables {
	 display: flex;
	 justify-content: space-between;
}
 #page-devis .tables .taxe-detail1 {
	 width: 45%;
	 text-align: center;
	 border: 1px solid #d4d2d2;
	 margin-bottom: 20px;
}
 #page-devis .tables .taxe-detail2 {
	 width: 45%;
	 text-align: center;
}
 #page-devis .tables .taxe-detail2 .table-borderless {
	 border: 1px solid #d4d2d2;
}
 #page-devis .modeLivraison {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 padding: 30px 35px 10px 35px;
}
 #page-devis .modeLivraison .titreLivraison {
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 padding-bottom: 10px;
}
 #page-devis .modeLivraison .titreLivraison .icone_livraison {
	 font-size: 20px;
}
 @media (max-width: 680px) {
	 #page-devis .modeLivraison .titreLivraison .icone_livraison {
		 font-size: 16px;
	}
}
 #page-devis .modeLivraison .titreLivraison h6 {
	 font-weight: 700;
	 font-size: 22px;
}
 @media (max-width: 680px) {
	 #page-devis .modeLivraison .titreLivraison h6 {
		 font-size: 13px;
	}
}
 #page-devis .modeLivraison h5 {
	 font-weight: 700;
	 font-size: 17px;
}
 #page-devis .modeLivraison h5 span {
	 font-weight: 200;
}
 @media (max-width: 680px) {
	 #page-devis .modeLivraison h5 {
		 font-size: 13px;
	}
}
 #page-devis .modeLivraison .text-detail2 {
	 border: 1px solid #d4d2d2;
	 padding: 15px;
}
 #page-devis .repetition_spectable {
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 gap: 10%;
	 padding: 30px 35px 0 35px;
}
 @media (max-width: 680px) {
	 #page-devis .repetition_spectable {
		 padding: 30px 20px 0 20px;
	}
}
 #page-devis .repetition_spectable .spectacle, #page-devis .repetition_spectable .repetition {
	 width: 45%;
	 display: flex;
	 flex-direction: column;
}
 #page-devis .repetition_spectable .spectacle .titre, #page-devis .repetition_spectable .repetition .titre {
	 width: 100%;
	 display: flex;
	 flex-direction: row;
}
 #page-devis .repetition_spectable .spectacle .titre h6, #page-devis .repetition_spectable .repetition .titre h6 {
	 font-weight: 700;
	 font-size: 22px;
}
 @media (max-width: 680px) {
	 #page-devis .repetition_spectable .spectacle .titre h6, #page-devis .repetition_spectable .repetition .titre h6 {
		 font-size: 13px;
	}
}
 #page-devis .repetition_spectable .spectacle hr, #page-devis .repetition_spectable .repetition hr {
	 opacity: 0.4;
}
 #page-devis .repetition_spectable .spectacle .body, #page-devis .repetition_spectable .repetition .body {
	 display: flex;
	 flex-direction: column;
}
 #page-devis .repetition_spectable .spectacle .body h6, #page-devis .repetition_spectable .repetition .body h6 {
	 font-weight: 600;
	 font-size: 15px;
}
 @media (max-width: 680px) {
	 #page-devis .repetition_spectable .spectacle .body h6, #page-devis .repetition_spectable .repetition .body h6 {
		 font-size: 13px;
	}
}
 #page-devis .repetition_spectable .spectacle .body h6 span, #page-devis .repetition_spectable .repetition .body h6 span {
	 font-weight: 400;
}
 #page-devis .message {
	 font-size: smaller;
}
 
    </style>
</head>
<body>
    <div id="page-devis" style="width: 100%;">
        <div class="logo-dates" style="width:100%;padding: 40px 35px 0 35px;" >
          <div class="logo" style="width: 20%;">
              <img src="/images/logo.png" class="logo-img img-fluid" alt="" srcset="" style="width: 100%;" />
          </div>
          <div class="dates" style="width: 60%;">
              <div class="devis-number">
                  <span>Devis N°</span> <span><%= commande.com_id %></span>
              </div>
              <div class="bordure"></div>
              <div class="devis-date">
                  <span>Date :</span> <span><%= commande.com_date %></span>
              </div>
          </div>
        </div>
      
        <div class="adresses" style="width: 100%; display: flex; flex-direction: row; gap: 10%; padding: 30px 35px 0 35px;">
          <div class="livraison">
             <h3>Adresse de livraison</h3>
             <hr style="opacity: 0.4;">
             <ul>
              <li><%= adresseLiv.adr_prenom %> <%= adresseLiv.adr_nom %></li>
              <li><%= adresseLiv.adr_structure %></li>
              <li><%= adresseLiv.adr_adresse %></li>
              <li><%= adresseLiv.adr_cp %> <%= adresseLiv.adr_ville %></li>
              <li><%= adresseLiv.adr_pays %></li>
              <li><%=adresseLiv.adr_phone  %></li></ul>
              <hr style="opacity: 0.4;">
          </div>
          <div class="facturation">
              <h3>Adresse de facturation</h3>
              <hr style="opacity: 0.4;">
             <ul>
              <li><%= adresseFac.adr_prenom %> <%= adresseFac.adr_nom %></li>
              <li><%= adresseFac.adr_adresse %></li>
              <li><%= adresseFac.adr_cp %> <%= adresseFac.adr_ville %></li>
              <li><%= adresseFac.adr_pays %></li>
              <li><%=adresseFac.adr_phone  %></li></ul>
              <hr style="opacity: 0.4;">
          </div>
        </div>
      
        <div class="table-detail" style="width: 100%;padding: 30px 35px 10px 35px;">
          <table class="table  table-bordered" style="border-collapse: collapse;">
              <thead>
                <tr>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Reference</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Produit</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Prix unitaire (HT)</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Quantité</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Total (HT)</th>
                </tr>
              </thead>
              <tbody>
             <% panierDetails.forEach(element => { %>
                 <tr>
                    <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= element.Produit.pro_ref %></td>
                    <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= element.Produit.pro_libelle %> </td>
                    <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= element.pad_ht.toFixed(2)%> €</td>
                    <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= element.pad_qte%></td>
                    <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= (element.pad_ht  * element.pad_qte ).toFixed(2) %> €</td>
                </tr>
              <% }) %>
              </tbody>
            </table>
        </div>
      
        <div class="detail_total" style="padding: 30px 35px 10px 35px; width: 100%; flex-direction: row; justify-content: end;">
         
            <table class="table table-borderless" style="border-collapse: collapse;width: 60%;">
              <thead>
                <tr>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Details des taxes</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Taux de taxe</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Prix de base</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;" scope="col">Taxe totale</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;">Produits</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;">20.000 %</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= sous_total.toFixed(2) %> €</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= taxe.toFixed(2) %> €</td>
                </tr>
              </tbody>
            </table>
   
            <table class="table table-borderless" style="border-collapse: collapse;width: 30%;margin-top:10px;">
              <tbody>
                <tr>
                  <td id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Total produits</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= sous_total.toFixed(2) %> €</td>
                </tr>
                <tr>
                  <td id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Frais de livraison</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= commande.Frais_port.frp_ht?commande.Frais_port.frp_ht.toFixed(2):0.00%> €</td>
                </tr>
                <tr>
                  <td id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Autres frais</td>
                  <td style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= commande.com_frais?commande.com_frais.toFixed(2):0.00 %> €</td>
                </tr>
                <tr>
                  <th id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Total (HT)</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= totalHT.toFixed(2) %> €</th>
                </tr>
                <tr>
                  <th id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Taxe totale</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= taxe.toFixed(2) %> € </th>
                </tr>
                <tr>
                  <th id="title" style="border: 1px solid gray; padding: 10px; font-size: 16px;">Total</th>
                  <th style="border: 1px solid gray; padding: 10px; font-size: 16px;"><%= (totalHT + taxe).toFixed(2)%> €</th>
                </tr>
              </tbody>
            </table>

        </div>
      
        <div class="modeLivraison" style="width: 100%;padding: 30px 35px 10px 35px;">
          <div class="titreLivraison" style="width: 100%; display: flex; flex-direction: row">
            <i class="fa-solid fa-truck icone_livraison"></i>
            <h6 style="font-weight: 700; font-size: 22px;margin-bottom: 0;">Livraison</h6>
          </div>
          <h5 style="font-weight: 700; font-size: 17px;">Mode de livraison :<span style="font-weight: 200;">Mode de livraison :<span><%= modeLivraison.frp_libelle %></span></h5>
          </div>
          <div class="text-detail" style="width:100%;padding: 30px 35px 10px 35px;">
            <p style="text-align: center;" >Les frais de port estimatifs pouvant etre réévalués en foction du poids réel.
              Vos costumes seront pre-réservés pendant 10 jours(sous réserve de disponibilité)
              Passé de délai, sans confirmation de votre part, Aiguilles en scène se réserve le droit de les remettre en location.
            </p>
          </div>
      
          <div class="text-detail2" style="width: 100%;padding: 30px 35px 10px 35px;">
           <p>Veuillez faire valider votre demande :</p>
           <p> - Avec un <strong>cheque de caution de <span>290, 80$</span></strong> si le spectacle est prise en compte par <strong> une association</strong>;</p>
           <p>- Avec un <strong>bon de commande</strong> si il est prise en charge pour une <strong>collectivité teritoriale</strong>.</p>
          </div>
      
        
        <div class="repetition_spectable" style="width: 100%;display: flex; flex-direction: row; gap: 10%; padding: 30px 35px 0 35px;">
          <div class="spectacle" style="width: 45%; margin-right: 10%;">
            <div class="titre" style="width: 100%; display: flex; flex-direction: row;">
              <h6 style="font-weight: 700; font-size: 22px;margin-bottom: 0;">Date spectacle</h6>
            </div>
            <hr style="opacity: 0.4;">
            <div class="body">
              <h6 style="font-weight: 600; font-size: 15px;">Date de début : <span><%= commande.com_debut_spectacle %></span></h6>
              <h6 style="font-weight: 600; font-size: 15px;">Date de fin : <span><%= commande.com_fin_spectacle %></span></h6>
            </div>
            <hr style="opacity: 0.4;">
          </div>
          <div class="repetition" style="width: 45%">
            <div class="titre" style="width: 100%">
              <h6 style="font-weight: 700; font-size: 22px;margin-bottom: 0;">Date repétition</h6>
            </div>
            <hr style="opacity: 0.4;">
            <div class="body">
              <% essayage.forEach(element => { %>
               
                <h6 style="font-weight: 600; font-size: 15px;">Date de repétition : <span><%= element.ess_repetition %></span></h6>
              <% }) %>
             
            </div>
            <hr style="opacity: 0.4;">
          </div>
        </div>
      
        <div class="message" style="width:80%;padding: 30px 35px 0 35px;">
        <p class="text-center mt-3"><i>AIGUILLES EN SCENE - 5 Rue des Agaces - 35650 Le Rheu - France</i></p>
        </div>
        
      </div>
</body>
</html>