<div class="container" id="admin-page-devis">
    <div class="row bloc-recherche">
        <div class="container px-5 my-5">
            <h3>Rechercher un dévis</h3>
            <form id="devis-search-Form" data-sb-form-api-token="API_TOKEN">
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="mb-2">
                            <label class="form-label" for="reference">Référence</label>
                            <input class="form-control" id="reference" type="text" placeholder="Référence" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="livraison">Livraison</label>
                            <input class="form-control" id="livraison" type="text" placeholder="Livraison" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="repetition">Répétition</label>
                            <input class="form-control" id="repetition" type="date" placeholder="Répétition" data-sb-validations="" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="mb-2">
                            <label class="form-label" for="client">Nom</label>
                            <input class="form-control" id="client" type="text" placeholder="client" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="prenom">Prénom</label>
                            <input class="form-control" id="prenom" type="text" placeholder="Prénom" data-sb-validations="" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="mb-2">
                            <label class="form-label" for="refProduits">Réf produits</label>
                            <input class="form-control" id="refProduits" type="text" placeholder="Réf produits" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="debut">Début</label>
                            <input class="form-control" id="debut" type="date" placeholder="Début" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="fin">Fin</label>
                            <input class="form-control" id="fin" type="date" placeholder="Fin" data-sb-validations="" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="mb-2">
                            <label class="form-label" for="structure">Structure</label>
                            <input class="form-control" id="structure" type="text" placeholder="Structure" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="total">Total</label>
                            <input class="form-control" id="total" type="text" placeholder="Total" data-sb-validations="" />
                        </div>
                        <div class="mb-2">
                          <label class="form-label" for="total"></label>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Etat</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                    </div>
                    <button class="btn text-white btn-info mt-2">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
    <div id="admin-page-produits" class="row mb-3 table-container">
        <table class="table table-striped" striped>
            <thead>
              <tr>
                <th></th>
                <th scope="col">ID</th>
                <th scope="col">Réference</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Structure</th>
                <th scope="col">Date</th>
                <th scope="col">Produit</th>
                <th scope="col">Total</th>
                <th scope="col">Livraison</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Répetition</th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% if ((typeof commandes !== 'undefined') && commandes.length > 0) { %>
                    <% commandes.forEach(commande => { %>
                        <tr>
                            <td scope="row">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="flexCheckDefault"
                                />
                            </td>
                            <th><span class="tr-id" data-id="<%= commande.commande.com_id %>" data-panier="<%= commande.commande.pan_id %>"><%= commande.commande.com_id %></span></th>
                            <td>Mark</td>
                            <td><%= commande.commande.Client.cli_prenom %></td>
                            <td><%= commande.commande.Client.cli_nom %></td>
                            <td><%= commande.adresseLivraison.adr_societe %></td>
                            <td><%= moment(commande.commande.com_date).format('D/MM, YYYY')%> </td>
                            <td class="td-modal-container"><span class="td-modal" data-commande="<%= commande.commande.com_id %>" data-panier="<%= commande.commande.pan_id %>"><%= commande.Panier_details.length %></span></td>
                            <td><%= commande.total_pad_ttc  %>€</td>
                            <td><%= commande.commande.Frais_port.frp_libelle %></td>
                            <td><%= moment(commande.commande.com_debut_spectacle).format('D/MM, YYYY') %></td>
                            <td><%= moment(commande.commande.com_fin_spectacle).format('D/MM, YYYY') %></td>
                            <td><%= moment(commande.essayage[0].ess_repetition).format('D/MM, YYYY') %></td>
                            <td><input type="radio" name="" id=""></td>
                            <td>
                                <div class="d-flex justify-content-between">
                                  <i class="fa-solid fa-pen"></i>
                                  <div class="dropdown">
                                    <i
                                      class="fa-solid dropdown-toggle fa-ellipsis-vertical"
                                      type="button"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                    ></i>
                      
                                    <ul class="dropdown-menu">
                                      <li>
                                        <a class="dropdown-item" href="#"
                                          ><i class="fa-solid fa-eye"></i> Prévisualiser</a
                                        >
                                      </li>
                                      <li>
                                        <a class="dropdown-item" href="#"
                                          ><i class="fa-solid fa-copy"></i> Dupliquer</a
                                        >
                                      </li>
                      
                                      <li>
                                        <a class="dropdown-item" href="#"
                                          ><i class="fa-solid fa-trash"></i> Supprimer</a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-accordion" id="tr-accordion-<%= commande.commande.com_id %>">
                          <td colspan="14" class="td-body">
                            <div>
                              
                            </div>
                          </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <div class="alert alert-primary" role="alert">
                        Il n'y a aucune commande dans votre base des données pour l'instant.
                    </div>
                <% } %>
                
            </tbody>
          </table>

          <div class="cat-pagination">
            <% if (nbrPages > 1) { %>
            <nav>
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=1">1</a>
                </li>
                <% if (pageActive === 1 || pageActive ===2) { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=2">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=3">3</a>
                </li>
                <% } else if (pageActive !== 73)  { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=<%= pageActive -1 %>"
                    ><%= pageActive-1 %></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=<%= pageActive %>"
                    ><%= pageActive %></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=<%= pageActive+1 %>"
                    ><%= pageActive+1 %></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=<%= pageActive+2 %>"
                    ><%= pageActive+2 %></a
                  >
                </li>
                <li class="page-item">...</li>
                <% } %>
                <li class="page-item">
                  <a class="page-link" href="/admin/devis?&page=<%= nbrPages %>"
                    ><%= nbrPages %></a
                  >
                </li>
              </ul>
            </nav>
        
            <% } %>
          </div>
    </div>


    <div class="modal fade" id="modal-devis" tabindex="-1" aria-labelledby="modal-devisLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-devisLabel">Produit de la commande</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1>hello</h1>
            </div>
          </div>
        </div>
    </div>
</div>
<script src="/javascripts/admin/devis.js"></script>