<div class="container" id="admin-page-devis">
    <% if (typeof error != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        Erreur serveur interne
      </div>
    <% } else { %>
      <div class="row bloc-recherche">
        <div class="container px-5 my-5">
            <h3>Rechercher un devis</h3>
            <form id="devis-search-Form" method="post" action="/admin/devis/search">
                <div class="row ref_bloc">
                  <div class="col-auto">
                    <label class="form-label" for="reference">Réf. devis</label>
                    <input name="com_num" class="form-control" id="reference" type="text" placeholder="Référence"/>
                  </div>
                  <div class="col-auto">
                    <label class="form-label" for="refProduits">Réf. produit</label>
                    <input name="pro_ref" class="form-control" id="refProduits" type="text" placeholder="Réf produits"/>
                  </div>
                  <div class="col-auto">
                    <label class="form-label" for="structure">Structure</label>
                    <input name="adr_structure" class="form-control" id="structure" type="text" placeholder="Structure" data-sb-validations="" />
                  </div>
                  <div class="col-auto">
                    <label class="form-label" for="structure">Société</label>
                    <input name="adr_societe" class="form-control" id="structure" type="text" placeholder="Structure" data-sb-validations="" />
                  </div>
                  <div class="col-auto">
                    <label class="form-label" for="total">Statut devis</label>
                    <select name="stc_id" class="form-select" aria-label="Default select example">
                      <% statut_commandes.forEach(stc => { %>
                        <option value="<%= stc.stc_id %>"><%= stc.stc_libelle %></option>
                      <% }) %>
                    </select>
                </div>
                </div>
                <div class="row bloc_date_form">
                  <div class="col-md-3 client_bloc">
                    <span>Client</span>
                    <div>
                      <input name="cli_nom" class="form-control mb-1" id="client" type="text" placeholder="client"/>
                      <input name="cli_prenom" class="form-control" id="prenom" type="text" placeholder="Prénom"/>
                    </div>
                  </div>
                  <div class="col-md-6 date_bloc">
                    <div>
                      <label class="form-label" for="livraison">Date devis</label>
                      <input name="doc_date" class="form-control" id="livraison" type="date" placeholder="Livraison" data-sb-validations="" />
                      <input name="doc_date_2" class="form-control mt-1" id="livraison" type="date"  placeholder="Livraison" data-sb-validations="" />
                    </div>
                    <div>
                      <label class="form-label" for="repetition">Date Répétition</label>
                      <input name="ess_repetition" class="form-control" id="repetition" type="date" placeholder="Répétition" data-sb-validations="" />
                      <input name="ess_repetition_2" class="form-control mt-1" id="repetition" type="date" placeholder="Répétition" data-sb-validations="" />
                    </div>
                    <div>
                      <label class="form-label" for="debut">Date livraison</label>
                      <input name="exp_depart" class="form-control" id="debut" type="date" placeholder="Début" data-sb-validations="" />
                      <input name="exp_depart_2" class="form-control mt-1" id="debut" type="date" placeholder="Début" data-sb-validations="" />
                    </div>
                    <div>
                      <label class="form-label" for="debut">Spectacle</label>
                      <input name="com_debut_spectacle" class="form-control mb-1" id="debut" type="date" placeholder="Début" data-sb-validations="" />
                      <input name="com_fin_spectacle" class="form-control" id="fin" type="date" placeholder="Fin" data-sb-validations="" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button class="btn text-white btn-info mt-2">Rechercher</button>
                </div>
            </form>
            <% if (typeof flash != 'undefined') { %>
              <div class="alert alert-<%= flash.type %> alert-dismissible fade show mt-2" role="alert">
                <%= flash.message %>
                <button type="button" class="btn-close btn-close-flash" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
        </div>
    </div>
    <div id="admin-page-produits" class="row mb-3 table-container">
        <table class="table table-striped" striped>
            <thead>
              <tr>
                <th></th>
                <th scope="col">ID</th>
                <th scope="col">Réference</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Structure</th>
                <th scope="col">Date</th>
                <th scope="col">Produit</th>
                <th scope="col">Total</th>
                <th scope="col" class="col-livraison">
                  <div>
                    <h5>Livraison</h5>
                    <div>
                      <p>Répetition</p>
                      <p>Spéctacle</p>
                    </div>
                  </div>
                </th>
                <th scope="col" class="col-spectacle">
                  <div>
                    <h5>Spectacle</h5>
                    <div>
                      <p>Début</p>
                      <p>Fin</p>
                    </div>
                  </div>
                </th>
                <th scope="col">Répetition</th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% if ((typeof commandes !== 'undefined') && commandes.length > 0) { %>
                    <% commandes.forEach(commande => { %>
                        <tr>
                            <td scope="row">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                  id="flexCheckDefault"
                                />
                            </td>
                            <th><span class="tr-id" data-id="<%= commande.com_id %>" data-panier="<%= commande.pan_id %>"><%= commande.com_id %></span></th>
                            <td><%= commande.com_num %></td>
                            <td><%= commande.Client.cli_prenom %></td>
                            <td><%= commande.Client.cli_nom %></td>
                            <td><%= commande.com_adr_livraison.adr_structure %></td>
                            <td><%= moment(commande.com_date).format('D/MM/YY')%> </td>
                            <td class="td-modal-container"><span style="display: inline-block; text-align: center;" data-commande="<%= commande.com_id %>" data-panier="<%= commande.pan_id %>"><%= commande.Panier.Panier_details.length %></span></td>
                            <% let sum = 0 %>
                            <% commande.Panier.Panier_details.forEach(pad => { %>
                              <% sum += (pad.pad_ht * pad.pad_qte) %>
                            <% }) %>
                            <td><%= sum.toFixed(2).toString().replace('.',',') %>€</td>
                            <td class="data-livraison">
                              <div>
                                <p><%= commande.Frais_port.Mode_liv_essayage.mle_libelle %></p>
                                <p><%= commande.Frais_port.Mode_liv_spectacle.mls_libelle %></p>
                              </div>
                            </td>
                            <td class="data-spectacle">
                              <div>
                                <p><%= moment(commande.com_debut_spectacle).format('D/MM/YY') %></p>
                                <p><%= moment(commande.com_fin_spectacle).format('D/MM/YY') %></p>
                              </div>
                            </td>
                            <td><%= moment(commande.Essayages[0].ess_repetition).format('D/MM/YY') %></td>
                            <td>
                              <%= commande.Chronologies[0].Statut_commande.stc_libelle %>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                  <a class="btn btn-primary me-1" title="Prévisualiser" href="/admin/devis/view/<%= commande.com_id %>"><i class="fa-solid fa-pen"></i></a>
                                  <form action="/admin/documents/bon-livraison" method="post" class="me-1">
                                    <input type="hidden" name="com_id" value="<%= commande.com_id %>">
                                    <button class="btn btn-primary" title="Bon de livraison"><i class="fa-solid fa-truck-moving"></i></button>
                                  </form>
                                  <form action="/admin/documents/bon-essayage" method="post" class="me-1">
                                    <input type="hidden" name="com_id" value="<%= commande.com_id %>">
                                    <button class="btn btn-primary" title="Bon d'essayage"><i class="fa-solid fa-shirt"></i></button>
                                  </form>
                                  <form action="/admin/documents/facture" method="post" class="me-1">
                                    <input type="hidden" name="com_id" value="<%= commande.com_id %>">
                                    <button class="btn btn-primary" title="Facture"><i class="fa-solid fa-money-bill"></i></button>
                                  </form>
                                </div>
                            </td>
                        </tr>
                        <tr class="tr-accordion" id="tr-accordion-<%= commande.com_id %>">
                          <td colspan="14" class="td-body">
                            <div>
                              
                            </div>
                          </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <div class="alert alert-primary" role="alert">
                        Il n'y a aucune commande dans votre base des données pour l'instant.
                    </div>
                <% } %>
                
            </tbody>
        </table>
        <div class="cat-pagination">
          <% if (nbrPages > 1) { %>
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=1">1</a>
              </li>
              <% if (pageActive === 1 || pageActive ===2) { %>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=2">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=3">3</a>
              </li>
              <% } else if (pageActive !== 73)  { %>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=<%= pageActive -1 %>"
                  ><%= pageActive-1 %></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=<%= pageActive %>"
                  ><%= pageActive %></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=<%= pageActive+1 %>"
                  ><%= pageActive+1 %></a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=<%= pageActive+2 %>"
                  ><%= pageActive+2 %></a
                >
              </li>
              <li class="page-item">...</li>
              <% } %>
              <li class="page-item">
                <a class="page-link" href="/admin/devis?&page=<%= nbrPages %>"
                  ><%= nbrPages %></a
                >
              </li>
            </ul>
          </nav>
      
          <% } %>
        </div>
    </div>
    <% } %>
</div>
<script src="/javascripts/admin/devis.js"></script>