<div id="adresses">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/my-account/#page-mon-compte" class="breadcrumb-link">Your account</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/my-account/adresses" class="breadcrumb-link">Adresses</a>
      </li>
    </ol>
  </nav>
  <h5>Your adresses</h5>

  <div class="adresse-main-content">
    <% if (typeof success !== "undefined") { %>
      <div class="alert alert-success" role="alert">
        <p>adresse removed</p>
      </div>
    <% } %>
    <% if (typeof error !== "undefined") { %>
      <div class="alert alert-danger" role="alert">
        <p><%= error %></p>
      </div>
    <% } %>
    <% if (typeof getAdresses !== "undefined" && getAdresses.length > 0) { %>
      <% getAdresses.forEach(element => { %>
        <div class="adresse-item">
          <h6><%= element.adr_structure %></h6>
          <p><%= element.adr_nom %> <%= element.adr_prenom %></p>
          <p><%= element.adr_societe %></p>
          <p><%= element.adr_ville %></p>
          <p><%= element.adr_pays %></p>
          <p><%= element.adr_phone %></p>
          <hr />
          <div class="item-actions">
            <a href="/my-account/editAdresse/<%= element.adr_id %>"><i class="fa-solid fa-pencil"></i> Update</a>
            <a href="/my-account/deleteAdresse/<%= element.adr_id %>"><i class="fa-solid fa-trash"></i> Remove</a>
          </div>
        </div>
        <% }) %>
    <% } %>
  </div>
</div>
