<div id="adresses">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link"
          >Votre compte</a
        >
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/adresse" class="breadcrumb-link">Adresses</a>
      </li>
    </ol>
  </nav>
  <h5>Vos adresses</h5>
  <div class="adresse-main-content">
   
    <% getAdresses.forEach(element => { %>
     <div class="adresse-item">
      <h6><%= element.adr_structure %></h6>
      <p><%= element.adr_nom %> <%= element.adr_prenom %></p>
      <p><%= element.adr_societe %></p>
      <p><%= element.adr_ville %></p>
      <p><%= element.adr_pays %></p>
      <p><%= element.adr_phone %></p>
      <hr />
      <div class="item-actions">
        <a href=""><i class="fa-solid fa-pencil"></i> Mettre à jour</a>
        <a href=""><i class="fa-solid fa-trash"></i> Supprimer</a>
      </div>
    </div>
    <% }) %>
    <!-- <div class="adresse-item">
      <h6>Nom Structure</h6>
      <p>Nom Prénom</p>
      <p>Nom entreprise</p>
      <p>Ville</p>
      <p>Pays</p>
      <p>Téléphone</p>
      <hr />
      <div class="item-actions">
        <a href=""><i class="fa-solid fa-pencil"></i> Mettre à jour</a>
        <a href=""><i class="fa-solid fa-trash"></i> Supprimer</a>
      </div>
    </div> -->
    <!-- <div class="adresse-item">
      <h6>Nom Structure</h6>
      <p>Nom Prénom</p>
      <p>Nom entreprise</p>
      <p>Ville</p>
      <p>Pays</p>
      <p>Téléphone</p>
      <hr />
      <div class="item-actions">
        <a href=""><i class="fa-solid fa-pencil"></i> Mettre à jour</a>
        <a href=""><i class="fa-solid fa-trash"></i> Supprimer</a>
      </div>
    </div> -->
    <!-- <div class="adresse-item">
      <h6>Nom Structure </h6>
      <p>Nom Prénom</p>
      <p>Nom entreprise</p>
      <p>Ville</p>
      <p>Pays</p>
      <p>Téléphone</p>
      <hr />
      <div class="item-actions">
        <a href=""><i class="fa-solid fa-pencil"></i> Mettre à jour</a>
        <a href=""><i class="fa-solid fa-trash"></i> Supprimer</a>
      </div>
    </div> -->
  </div>
</div>
