<div id="edit-adresse">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link"
          >Your account</a
        >
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/adresses/#adresses" class="breadcrumb-link"
          >Adresses</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        New adresse
      </li>
    </ol>
  </nav>
  <h4>Update your adresse</h4>
  <form
    action="/mon-compte/editAdresse/<%= adressById.adr_id %>"
    class="fom"
    method="post"
  >
    <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %> <% if (typeof success !== 'undefined') { %>
    <div class="alert alert alert-success" role="alert"><%= success %></div>
    <% } %>
    <div class="row-form">
      <label class="col-label" for=""> Name of company</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_structure"
        id=""
        value="<%= adressById.adr_structure ? adressById.adr_structure : '' %>"
        required
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""><span>* </span> Name</label>
      <input
        class="col-input"
        placeholder="Romain"
        type="text"
        name="adr_nom"
        id=""
        value="<%= adressById.adr_nom %>"
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Last Name</label>
      <input
        class="col-input"
        placeholder="Romain"
        type="text"
        name="adr_prenom"
        id=""
        value="<%= adressById.adr_prenom %>"
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Company</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_societe"
        id=""
        value="<%= adressById.adr_societe %>"
        required
      />
    </div>
    <div class="row-form">
      <label class="col-label" for="">TVA</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_num_tva"
        id=""
        value="<%= adressById.adr_adr_num_tva %>"
      />
      <label class="col-label-end" for="">Optionnal</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Adresse</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_adresse"
        id=""
        value="<%= adressById.adr_adresse %>"
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Other adresse</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_comp"
        id=""
        value="<%= adressById.adr_comp %>"
      />
      <label class="col-label-end" for="">Optionnal</label>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Postal code</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_cp"
        id=""
        value="<%= adressById.adr_cp %>"
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>City</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_ville"
        id=""
        value="<%= adressById.adr_ville %>"
      />
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Country</label>
      <input
        class="col-input"
        placeholder=""
        type="text"
        name="adr_pays"
        id=""
        value="<%= adressById.adr_pays ? adressById.adr_pays : '' %>"
      />
    </div>

    <div class="btn-submit">
      <button
        class="btn"
        type="submit"
        data-bs-toggle="modal"
        data-bs-target="#sendModalLabel"
      >
        Modifier
      </button>
    </div>
  </form>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
    </div>
  </div>
  <div
    class="modal fade sendModal"
    id="sendModalLabel"
    tabindex="-1"
    aria-labelledby="sendModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="title">
            <span><i class="fa-solid fa-circle-check"></i></span>
            <h3>Adresse modifiée avec succès</h3>
          </div>
          <div class="button">
            <a href="/mon-compte/adresses"
              ><button
                data-bs-dismiss="modal"
                aria-label="Close"
                class="close-avis"
              >
                Ok
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
