<div id="page-historique" class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a href="/my-account/#page-mon-compte">My account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Historical</li>
      </ol>
    </nav>
  </div>
  <% if (typeof error !== 'undefined') { %>
  <div class="row">
    <div class="msg-error">
      <div class="alert alert-danger" role="alert"><%= error %></div>
    </div>
  </div>
  <% } else { %> <% if (commandeByUser.length === 0) { %>
  <div class="row">
    <div class="msg-error">
      <div class="alert alert-danger" role="alert">
        You have not yet placed an order
      </div>
      <h6>
        Here you will find your orders placed since the creation of your
        account
      </h6>
    </div>
  </div>
  <% } else { %>
  <h2>History of your orders</h2>
  <div class="row row-list">
    <div class="msg">
      <h6>
        Here you will find your orders placed since the creation of your
        account
      </h6>
      <div class="commande-liste">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Reference of order</th>
              <th scope="col">Date</th>
              <th scope="col">Total price</th>
              <th scope="col">Invoice</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% commandeByUser && commandeByUser.forEach(function(commande) { %>
            <% totalCommande = 0 %> <%
            commande.Panier.Panier_details.forEach(pad => { %> <% totalCommande
            += pad.pad_ht * pad.pad_qte %> <% }) %>
            <tr>
              <td><%= commande.com_num %></td>
              <td><%= moment(commande.com_date).format('DD/MM/YYYY') %></td>
              <td>
                <%= totalCommande.toFixed(2).toString().replace('.',',') %> $
              </td>
              <td>
                <% if (commande.Facturations.length > 0) { %> 
                  <%= moment(commande.Facturations[0].fac_date).format('DD/MM/YYYY') %>
                <% } else { %> - <% } %>
              </td>
              <td class="button">
                <a href="/my-account/detailsCommande/<%= commande.pan_id %>"
                  >Details</a
                >
                -
                <a href="#">Order again</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% } %> <% } %>
</div>
