<div id="page-historique" class="container">
  <% if (typeof error !== 'undefined') { %>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Accueil</a></li>
              <li class="breadcrumb-item"><a href="/mon-compte/#page-mon-compte">Mon compte</a></li>
              <li class="breadcrumb-item active" aria-current="page">Historique</li>
            </ol>
        </nav>
    </div>
    <div class="row">
      <div class="msg-error">
          <div class="alert alert-danger" role="alert">
              <%= error %>
          </div>
      </div>
    </div>
  <% } else { %>
      <% if (commandeByUser.length === 0) { %>
      <div class="row">
        <div class="msg-error">
            <div class="alert alert-danger" role="alert">
                Vous n'avez pas encore passé de commande
              </div>
            <h6>Vous trouverez ici vos commandes passées depuis la création de votre compte</h6>
        </div>
      </div>
      <% } else { %>
        <h2>Historique de vos commandes</h2>
        <div class="row row-list">
          <div class="msg">
              <h6>Vous trouverez ici vos commandes passées depuis la création de votre compte</h6> 
              <div class="commande-liste">
                  
                  <table class="table table-striped">
                      <thead>
                          <tr>
                            <th scope="col">Reference de commande</th>
                            <th scope="col">Date</th>
                            <th scope="col">Prix total</th>
                            <th scope="col">Etat</th>
                            <th scope="col">Facture</th>
                            <th scope="col"></th>
                          </tr>
                      </thead> 
                      <tbody> 
                        <% commandeByUser && commandeByUser.forEach(function(commande) { %>
                        <% totalCommande = 0 %>
                        <% commande.Panier.Panier_details.forEach(pad => { %>
                          <% totalCommande += pad.pad_ht * pad.pad_qte %>
                        <% }) %>
                        <tr>
                            <td><%= commande.com_num %></td>
                            <td><%= moment(commande.com_date).format('DD/MM/YYYY') %></td>
                            <td><%= totalCommande.toFixed(2).toString().replace('.',',') %> €</td>
                            <td><p class="bg-warning text-center color-white"><%= commande.Chronologies[0].Statut_commande.stc_libelle %></p></td>
                            <td> <% if (commande.Facturations.length > 0) { %>
                              <%= commande.Facturations[0].fac_date %>
                            <% } else { %>
                                -
                            <% } %></td>
                            <td class="button">
                              <a href="#">Détails</a>
                              <a href="#">Commander à nouveau</a>
                            </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                    
                    
              </div>
          </div>
        </div>
      <% } %>
  <% } %>
</div>