<div id="identite">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link"
          >Account</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Your personnals informations
      </li>
    </ol>
  </nav>
  <h4> Your personnals informations</h4>
  <form action="/mon-compte/identite" class="fom" method="POST">
    <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %> <% if (typeof success !== 'undefined') { %>
    <div class="alert alert alert-success" role="alert"><%= success %></div>
    <% } %>
    <div class="row-form">
      <label class="col-label label" for="civilite">Civility</label>
      <div class="">
        <input
          type="radio"
          name="titre"
          id="flexRadioDefault2"
          value="<%= clientSession.tit_id  %>"
          <%= clientSession.tit_id == 1 ? "checked" :""%>
        />
        <label class="form-check-label" for="">Sir</label>
        <input
          type="radio"
          name="titre"
          id="flexRadioDefault2"
          value="<%= clientSession.tit_id  %>"
          <%= clientSession.tit_id == 2 ? "checked" :""%>
        />
        <label class="form-check-label" for="">Mrs</label>
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>First name</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Romain"
          type="text"
          name="prenom"
          id=""
          value="<%= clientSession.cli_prenom %>"
          required
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Name</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasi"
          type="text"
          name="nom"
          id=""
          value="<%= clientSession.cli_nom %>"
          required
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span></span>Phone number</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasiromain@gmail.com"
          type="text"
          name="num"
          id=""
          value="<%= clientSession.cli_num %>"
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Mail</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasiromain@gmail.com"
          type="email"
          name="email"
          id=""
          value="<%= clientSession.cli_mail %>"
          required
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> New password</label>
      <div class="d-flex flex-row col-input">
        <input id="password" type="password" name="cli_pwd" />
        <span class="input-group-text">
          <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span></label>
      <div class="checkbox-label form-check">
        <input class="form-check-input" type="checkbox" name="radioNewLetter"
        id="flexRadioDefault2" checked required />
        <label class="form-check-label" for=""
          >Message concerning the confidentiality of customer data In accordance with 
          the provisions of law n°78-17 of January 6, 1978, you have a right of access, 
          rectification and opposition to personal data concerning you.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span> </span></label>
      <div class="checkbox-label ">
        <input
        class="form-check-input"
          type="checkbox"
          name="newsletter"
          id="flexRadioDefault2"
          <%= clientSession.cli_newsletter ? "checked" :""
        %>
        />
        <label class="form-check-label" for="">
          Receive our newsletter You can unsubscribe at any time. 
          You will find our contact information for this in the conditions of use of the site.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span></label>
      <div class="checkbox-label">
        <input
        class="form-check-input"
          type="checkbox"
          name="radioPartenaire"
          id="flexRadioDefault2"
          required
          checked
        />
        <label class="form-check-label" for=""
          >I accept the terms and conditions and privacy policy</label
        >
      </div>
    </div>
    <div class="btn-submit">
      <button class="btn" type="submit">Save</button>
    </div>
  </form>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i>
        Back to your account
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Home</a>
    </div>
  </div>
</div>
