<div id="identite">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/mon-compte/#page-mon-compte" class="breadcrumb-link"
          >Votre compte</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Vos information personnelles
      </li>
    </ol>
  </nav>
  <h4>Vos informations personnelles</h4>
  <form action="/mon-compte/identite" class="fom" method="POST">
    <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %> <% if (typeof success !== 'undefined') { %>
    <div class="alert alert alert-success" role="alert"><%= success %></div>
    <% } %>
    <div class="row-form">
      <label class="col-label label" for="civilite">Civilité</label>
      <div class="">
        <input
          type="radio"
          name="titre"
          id="flexRadioDefault2"
          value="<%= clientSession.tit_id  %>"
          <%= clientSession.tit_id == 1 ? "checked" :""%>
        />
        <label class="form-check-label" for="">M</label>
        <input
          type="radio"
          name="titre"
          id="flexRadioDefault2"
          value="<%= clientSession.tit_id  %>"
          <%= clientSession.tit_id == 2 ? "checked" :""%>
        />
        <label class="form-check-label" for="">Mme</label>
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Prenom</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Romain"
          type="text"
          name="prenom"
          id=""
          value="<%= clientSession.cli_prenom %>"
          required
        />
        <label for=""
          >Seules les lettres et le point (.), suivi d'un espace, sont
          autorisés.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>Nom</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasi"
          type="text"
          name="nom"
          id=""
          value="<%= clientSession.cli_nom %>"
          required
        />
        <label for=""
          >Seules les lettres et le point (.), suivi d'un espace, sont
          autorisés.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span></span>Téléphone</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasiromain@gmail.com"
          type="text"
          name="num"
          id=""
          value="<%= clientSession.cli_num %>"
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span>E-mail</label>
      <div class="col-input">
        <input
          class="col"
          placeholder="Kabasiromain@gmail.com"
          type="email"
          name="email"
          id=""
          value="<%= clientSession.cli_mail %>"
          required
        />
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> Nouveau mot de passe</label>
      <div class="d-flex flex-row col-input">
        <input id="password" type="password" name="cli_pwd" />
        <span class="input-group-text">
          <i class="far fa-eye" id="togglePassword" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span></label>
      <div class="checkbox-label form-check">
        <input class="form-check-input" type="checkbox" name="radioNewLetter"
        id="flexRadioDefault2" checked required />
        <label class="form-check-label" for=""
          >Message concernant la confidentialité des données clients
          Conformément aux dispositions de la loi du n°78-17 du 6 janvier 1978,
          vous disposez d'un droit d'accès, de rectification et d'opposition sur
          les données nominatives vous concernant.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span> </span></label>
      <div class="checkbox-label ">
        <input
        class="form-check-input"
          type="checkbox"
          name="newsletter"
          id="flexRadioDefault2"
          <%= clientSession.cli_newsletter ? "checked" :""
        %>
        />
        <label class="form-check-label" for="">
          Recevoir notre newsletter Vous pouvez vous désinscrire à tout moment.
          Vous trouverez pour cela nos informations de contact dans les
          conditions d'utilisation du site.</label
        >
      </div>
    </div>
    <div class="row-form">
      <label class="col-label" for=""> <span>* </span></label>
      <div class="checkbox-label">
        <input
        class="form-check-input"
          type="checkbox"
          name="radioPartenaire"
          id="flexRadioDefault2"
          required
          checked
        />
        <label class="form-check-label" for=""
          >J'accepte les conditions générales et la politique de
          confidentialité</label
        >
      </div>
    </div>
    <div class="btn-submit">
      <button class="btn" type="submit">Enregistrer</button>
    </div>
  </form>
  <div class="link-div d-flex flex-row">
    <div>
      <a href="/mon-compte/#page-mon-compte"
        ><i class="fa-solid fa-chevron-left"></i> Retour à votre compte
      </a>
    </div>
    <div>
      <a href="/"><i class="fa-solid fa-house"></i> Accueil</a>
    </div>
  </div>
</div>
