<div id="page-recherche">
  <div class="title-recherche">
    <span><a href="">Accueil</a></span>
    <span>/ Résultats de la recherche</span>
  </div>
  <div class="resultat">
    <p>RESULTATS DE LA RECHERCHE POUR : <%= search %></p>
  </div>
  <div class="row resultat_choix">
    <div class="col-md-6">
      <span class="title">Il y a <%= produitsNbr %> produits.</span>
    </div>
    <div class="col-md-6 filtre-content">
      <div class="tri">
        <span class="title">Trier par: </span>
      </div>
      <div class="input" id="input">
        <span id="choix"><%= choix ? choix : "Choisir" %></span>
        <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
        <div class="content content-hide" id="content">
          <ul>
            <a href="/recherche/?search=<%= search %>&orderby=AZ"><li class="item-choice">Nom, A à Z</li></a>
            <a href="/recherche/?search=<%= search %>&orderby=ZA"><li class="item-choice">Nom, Z à A</li></a>
            <a href="/recherche/?search=<%= search %>&orderby=PC"><li class="item-choice">Prix, croissant</li></a>
            <a href="/recherche/?search=<%= search %>&orderby=PD"><li class="item-choice">Prix, décroissant</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row resultat_image">
    <% produits.forEach(produit => { %>
    <div class="col-sm-6 col-md-4 col-lg-4 col-6 item">
      <div class="image">
        <a href="/article/<%= produit.dataValues.pro_id %>">
          <img
            src="/images/produits/<%= produit.dataValues.Media[0].med_ressource %>"
            class="img-fluid"
            alt=""
          />
        </a>
      </div>
      <div class="details">
        <p class="desc">
          <span>
            <a href="/article/<%= produit.dataValues.pro_id %>"><%= produit.dataValues.pro_libelle %></a></span>
        </p>

        <p class="ref">Ref : <%= produit.dataValues.pro_ref %></p>
        <div class="quantite"><span>  <%= quantiteOfEachProduct.find(element => element.id === produit.dataValues.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.dataValues.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.dataValues.pro_id).qty > 1 ? "articles" : "article" %></div>
        <div>
          <p class="price">
            <%= produit.dataValues.Tarifs[0].tar_ttc.toFixed(2).toString().replace(".",",") %> €
          </p>
          <p class="bar">|</p>
          <p
            class="price btn button-ajouter"
            data-id="<%= produit.pro_id %>"
            data-bs-toggle="modal"
            data-bs-target="#parent_modal"
          >
            Ajouter
          </p>
        </div>
      </div>
    </div>
    <% }) %>

    <div class="cat-pagination">
      <% if (nbrPages > 1) { %>
      <div class="row affichage">
        <p>
          Affichage <span><%= start %> - <%= end %></span> de
          <span><%= produitsNbr%></span>
        </p>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=1&orderby=<%= orderby %>#page-recherche"
              >1</a
            >
          </li>
          <% if (pageActive === 1 || pageActive ===2) { %>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=2&orderby=<%= orderby %>#page-recherche"
              >2</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=3&orderby=<%= orderby %>#page-recherche"
              >3</a
            >
          </li>
          <% } else { %>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=<%= pageActive -1 %>&orderby=<%= orderby %>#page-recherche"
              ><%= pageActive-1 %></a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=<%= pageActive %>&orderby=<%= orderby %>#page-recherche"
              ><%= pageActive %></a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=<%= pageActive+1 %>&orderby=<%= orderby %>#page-recherche"
              ><%= pageActive+1 %></a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=<%= pageActive+2 %>&orderby=<%= orderby %>#page-recherche"
              ><%= pageActive+2 %></a
            >
          </li>
          <li class="page-item">...</li>
          <% } %>
          <li class="page-item">
            <a
              class="page-link"
              href="/recherche/?search=<%= search %>&page=<%= nbrPages %>&orderby=<%= orderby %>#page-recherche"
              ><%= nbrPages %></a
            >
          </li>
        </ul>
      </nav>

      <% } %>
    </div>
  </div>
</div>
<script src="/javascripts/recherche.js"></script>
