<div id="pages-bycategorie">
  <div class="group-catalogue">
    <div class="title">
      <a class="title_accueil" href="/">Accueil</a>
      <a class="title_catalogue" href="/catalogue">/ catalogue</a>
      <a class="title_catalogue" href="/catalogue/type/<%= type_categorie.tyc_id %>">/ <%= type_categorie.tyc_libelle %></a>
    </div>
    <div class="list">
      <div class="border"></div>
      <div class="list-body">
        <!-- <p>Catalogue</p> -->
        <div class="accordion-item">
          <div class="type-categorie"></div>
          <div class="accordion-body">
            <a href="/catalogue/<%=categorie.cat_id %>"
              ><%= categorie.cat_libelle %></a
            >
          </div>
        </div>
      </div>
      <div class="border"></div>
    </div>
  </div>
  <div class="catalogue">
    <div class="cat-title">
      <h2>CATÉGORIE : <span><%= categorie.cat_libelle %></span></h2>
    </div>
    <div class="cat-filter">
      <p>Il y a <span><%= categorie.Produits.length %></span> produits</p>
      <div class="filter">
        <label for="">Trier par : </label>
        <div class="input" id="input">
          <span id="choix"><%= choix ? choix : "Choisir" %></span>
          <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
          <div class="content content-hide" id="content">
            <ul>
              <!-- <a href="/catalogue"> <li class="item-choice">Pertinente</li></a> -->
              <a href="/catalogue/<%= categorie.cat_id  %>/?orderby=AàZ"
                ><li class="item-choice">Nom, A à Z</li></a
              >
              <a href="/catalogue/<%= categorie.cat_id  %>/?orderby=ZàA"
                ><li class="item-choice">Nom, Z à A</li></a
              >
              <a href="/catalogue/<%= categorie.cat_id  %>/?orderby=PC">
                <li class="item-choice">Prix, croissant</li></a
              >
              <a href="/catalogue/<%= categorie.cat_id  %>/?orderby=PD"
                ><li class="item-choice">Prix, décroissant</li></a
              >
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-body">
      <% produits.forEach(produit => { %>
      <div class="produit">
        <div class="image-cadre">
          <a href="/article/<%= produit.pro_id %>">
            <img
              src="/images/produits/<%= produit.Media[0].med_ressource %>"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="bar"></div>
        <div class="detail">
          <a href="/article/<%= produit.pro_id %>">
            <%= produit.pro_libelle%></a
          >
          <div>Ref: <span><%= produit.pro_ref %></span></div>
           <div class="quantite"><span>  <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty ? quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %></span> <%= quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty > 1 ? "articles" : "article" %></div>
          <div class="montant">
            <div>
              <% let newPriceht = 0 %>
            <% let remise = 0 %>
            <% applies.forEach(element => { %>
              <% if (element.pro_id == produit.pro_id) { %>
                <del><%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>  €</del>
               <% promotionProduct = element %>
               <% if (promotionProduct.Promo.prm_pourcent) { %> 
                <% remise = promotionProduct.Promo.prm_pourcent * produit.Tarifs[0].tar_ht / 100 %>
                <% newPriceht = produit.Tarifs[0].tar_ht - remise %>
                <% } else { %> <% newPriceht = produit.Tarifs[0].tar_ht - promotionProduct.Promo.prm_valeur %> <% } %>
                <% let tva = newPriceht * 20 /100 %>
                <%= (newPriceht + tva).toFixed(2).toString().replace(".", "," ) %>  €
              <% } %> 
            <% }) %>
            <% if (!applies.find(element => element.pro_id == produit.pro_id)) { %>
             <%=  (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>  € %>
              <% } %>
              </div>
            <span>|</span>
            <button
              class="button-ajouter"
              data-id="<%= produit.pro_id %>"
              data-bs-toggle="modal"
              data-bs-target="#parent_modal"
            >
              Ajouter
            </button>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
    <div class="cat-pagination">
      <% if (nbrPages > 1) { %>
      <div>
        <p>
          Affichage <span> <%= start %>-<%= end %> </span> de
          <span><%= categorie.Produits.length %></span>
        </p>
      </div>
      <nav>
        <ul class="pagination">
          <% for( let i = 1; i <= nbrPages; i++ ) { %>
          <li class="page-item">
            <a
              class="page-link <%= pageActive === i ? 'active' : '' %>"
              href="/catalogue/<%= categorie_id %>?page=<%= i %>&orderby=orderby"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>

      <% } %>
    </div>
  </div>
</div>
<script src="/javascripts/catalogueBytype.js"></script>
