<div id="pages-catalogue-type">
  <div class="group-catalogue">
    <div class="title">
      <a href="">Accueil</a>
      <p>/ catalogue</p>
    </div>
    <div class="list">
      <div class="border"></div>
      <div class="list-body">
        <p>Catalogue</p>
        <div class="accordion-item">
          <div class="type-categorie">
            <a href="/catalogue/type/<%= type_categorie.tyc_id %>"
              ><%= type_categorie.tyc_libelle %></a>
         
          </div>
          <div class="accordion-body">
           <% type_categorie.Categories.forEach(categorie => { %>
            <a href="/catalogue/<%=categorie.cat_id %>"><%= categorie.cat_libelle %></a>
           <% }) %>
          </div>
     
        </div>

      
      </div>
      <div class="border"></div>
    </div>
  </div>
  <div class="catalogue">
    <div class="cat-title">
      <h2>CATÉGORIE : <span><%= type_categorie.tyc_libelle %></span></h2>
    </div>
    <div class="cat-filter">
      <p>Il y a <span><%= totalProductBycat %></span> produits</p>

      <div class="filter">
        <label for="">Trier par : </label>
        <div class="input" id="input">
          <span id="choix">Choisir</span>
          <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
          <div class="content content-hide" id="content">
            <ul>
              <li class="item-choice">Pertinente</li>
              <li class="item-choice">Nom, A à Z</li>
              <li class="item-choice">Nom, Z à A</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-body">
      <% type_categorie.Categories.forEach(sous_cat => { %>
         <% sous_cat.Produits.forEach(produit => { %>
             <div class="produit">
        <div class="image-cadre">
          <img src="/images/produits/<%= produit.Media[0].med_ressource %>" alt="" srcset="" />
        </div>
        <div class="detail">
          <a href=/article/<%= produit.pro_id %>> <%= produit.pro_libelle%></a>
          <div>Ref: <span><%= produit.pro_ref %></span></div>
          <div class="montant">
            <div><%= produit.Tarifs[0].tar_ttc %>£</div>
            <button class="button-ajouter" data-id="<%= produit.pro_id %>">Ajouter</button>
          </div>
        </div>
      </div>
         <% }) %>
      <% }) %>
   
     
    </div>
    <div class="cat-pagination">
      <div>1479
        <p>Affichage <span>1-100</span> de <span><%= totalProductBycat %></span></p>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script src="/javascripts/catalogueBytype.js"></script>
