<div id="pages-catalogue">
  <div class="group-catalogue">
    <div class="title">
      <a class="title_accueil" href="">Accueil</a>
      <a class="title_catalogue" href="/catalogue">/ Catalogue</a>
    </div>
    <div class="list">
      <div class="border"></div>
      <div class="list-body">
        <p>Catalogue</p>
        <% typee_categories.forEach(element => { %>
          <div class="accordion-item">
            <div class="type-categorie">
              <a href="/catalogue/type/<%= element.tyc_id %>"> <%= element.tyc_libelle %></a>
              <div id="plus-petit" class="icon_showing" data-bs-toggle="collapse" data-bs-target="#collapse-<%= element.tyc_id %>""
                aria-expanded="true" aria-controls="collapse-<%= element.tyc_id %>">
                <i class="fa fa-plus"></i>
              </div>
              <div id="minus-petit" class="icon_showing" data-bs-toggle="collapse" data-bs-target="#collapse-<%= element.tyc_id %>"
                aria-expanded="false" aria-controls="collapse-<%= element.tyc_id %>"">
                <i class="fa fa-minus"></i>
              </div>
            </div>

            <div id="collapse-<%= element.tyc_id %>" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <% categories.forEach(categorie=> { %> <% if (categorie.tyc_id === element.tyc_id) { %>
                    <a href="/catalogue/<%= categorie.cat_id %>">
                      <%= categorie.cat_libelle %>
                    </a>
                    <% } %>
                      <% }) %>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
      <div class="border"></div>
    </div>
  </div>
  <div class="catalogue">
    <div class="cat-title">
      <h2>CATÉGORIE : <span>CATALOGUE</span></h2>
    </div>
    <div class="cat-filter">
      <p>Il y a <span>
          <%= allproducts.length%>
        </span> produits</p>

      <div class="filter">
        <label for="">Trier par : </label>
        <div class="input" id="input">
          <span id="choix">
            <%= choix ? choix : "Choisir" %>
          </span>
          <span class="icon"><i class="fa-solid fa-caret-down"></i></span>
          <div class="content content-hide" id="content">
            <ul>
              <!-- <a href="/catalogue">
                <li class="item-choice">Pertinente</li>
              </a> -->
              <a href="/catalogue/?orderby=AàZ">
                <li class="item-choice">Nom, A à Z</li>
              </a>
              <a href="/catalogue/?orderby=ZàA">
                <li class="item-choice">Nom, Z à A</li>
              </a>
              <a href="/catalogue/?orderby=PC">
                <li class="item-choice">Prix, croissant</li>
              </a>
              <a href="/catalogue/?orderby=PD">
                <li class="item-choice">Prix, décroissant</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-body">
      <% produits.forEach(produit=> { %>
        <div class="produit">
          <div class="image-cadre">
            <a href="/article/<%= produit.pro_id %>">
              <img src="/images/produits/<%= produit.Media[0].med_ressource %>" alt="" srcset="" />
            </a>
          </div>
          <div class="bar"></div>
          <div class="detail">
            <a href="/article/<%= produit.pro_id %>">
              <%= produit.pro_libelle%>
            </a>
            <div>Ref: <span>
                <%= produit.pro_ref %>
              </span></div>
            <div class="quantite"><span>
                <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty ?
                  quantiteOfEachProduct.find(element => element.id === produit.pro_id).qty : "1" %>
              </span>
              <%= quantiteOfEachProduct.find(element=> element.id === produit.pro_id).qty > 1 ? "articles" : "article"
                %>
            </div>
            <div class="montant">
              <div>
                <% let newPriceht = 0 %>
            <% let remise = 0 %>
            <% applies.forEach(element => { %>
              <% if (element.pro_id == produit.pro_id) { %>
                <del><%= (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>€</del>
               <% promotionProduct = element %>
               <% if (promotionProduct.Promo.prm_pourcent) { %> 
                <% remise = promotionProduct.Promo.prm_pourcent * produit.Tarifs[0].tar_ht / 100 %>
                <% newPriceht = produit.Tarifs[0].tar_ht - remise %>
                <% } else { %> <% newPriceht = produit.Tarifs[0].tar_ht - promotionProduct.Promo.prm_valeur %> <% } %>
                <% let tva = newPriceht * 20 /100 %>
                <%= (newPriceht + tva).toFixed(2).toString().replace(".", "," ) %> €
              <% } %> 
            <% }) %>
            <% if (!applies.find(element => element.pro_id == produit.pro_id)) { %>
             <%=  (produit.Tarifs[0].tar_ttc).toFixed(2).toString().replace(".", "," ) %>€ %>
              <% } %>
               
              </div>
              <span>|</span>
              <button class="button-ajouter" data-id="<%= produit.pro_id %>" data-bs-toggle="modal"
                data-bs-target="#parent_modal">
                Ajouter
              </button>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <div class="cat-pagination">
      <div>
        <p>
          Affichage <span>
            <%= start %> - <%= end %>
          </span> de
          <span>
            <%= allproducts.length%>
          </span>
        </p>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="/catalogue?page=1&orderby=<%= orderby %>#pages-catalogue">1</a>
          </li>
          <% if (pageActive===1 || pageActive===2) { %>
            <li class="page-item">
              <a class="page-link" href="/catalogue?page=2&orderby=<%= orderby %>#pages-catalogue">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="/catalogue?page=3&orderby=<%= orderby %>#pages-catalogue">3</a>
            </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/catalogue?page=<%= pageActive -1 %>&orderby=<%= orderby %>#pages-catalogue">
                  <%= pageActive-1 %>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/catalogue?page=<%= pageActive %>#pages-catalogue">
                  <%= pageActive %>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/catalogue?page=<%= pageActive+1 %>#pages-catalogue">
                  <%= pageActive+1 %>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/catalogue?page=<%= pageActive+2 %>#pages-catalogue">
                  <%= pageActive+2 %>
                </a>
              </li>
              <li class="page-item">...</li>
              <% } %>
                <li class="page-item">
                  <a class="page-link" href="/catalogue?page=<%= nbrPages %>#pages-catalogue">
                    <%= nbrPages %>
                  </a>
                </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script src="/javascripts/catalogue.js"></script>